<div class="container">

<section class="content-header">
    <h1> Compras <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Compras</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div" *ngIf="filtrado && compras?.total">
                        <span class="label label-default"> Registros: {{ compras?.total}}</span>
                        <!-- <span class="label label-default"> Total: {{ compras?.data | sum:'total' | currency:'USD':'true':'1.2' }}</span> -->
                    </div>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && compras?.total" [nombre]="'Compras'"></app-descargar-excel>
                                <button routerLink="/compra/nueva" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="hidden-sm hidden-xs">Fecha</th>
                                <th>Proveedor</th>
                                <th class="text-center">Ref</th>
                                <th class="text-center">Estado</th>
                                <th>Fecha de pago</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="compras?.total < 1 && !loading">
                                    <span class="label label-info">No tiene compras registradas</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let compra of compras?.data">
                                
                                <td class="hidden-sm hidden-xs">{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                                <td><a routerLink="/proveedor/{{compra.proveedor_id}}">{{compra.proveedor | truncate:30 }}</a></td>
                                <td class="text-center">{{compra.referencia}}</td>
                                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Empleado'">
                                    <span class="label" [ngClass]="{'label-warning' : compra?.estado == 'Pendiente', 'label-success' : compra?.estado == 'Pagada'}">
                                        {{compra.estado}}
                                    </span>
                                </td>
                                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                                    <span class="label label-pop" [ngClass]="{'label-warning' : compra?.estado == 'Pendiente', 'label-success' : compra?.estado == 'Pagada'}" [popover]="popTemplate" [outsideClick]="true">
                                        {{compra.estado}}
                                    </span>
                                    <ng-template #popTemplate>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pagada')">Pagada</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pendiente')">Pendiente</button>
                                    </ng-template>
                                </td>
                                <td>{{compra.fecha_pago | date:'dd-MM-yyyy'}}</td>
                                 <td class="text-center">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-danger" (click)="delete(compra.id)" tooltip="Eliminar">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-default" routerLink="/compra/{{compra.id}}" tooltip="Editar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="compras?.last_page > 1">
                        <app-pagination [items]="compras" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="">Proveedor:</label>
                <select [(ngModel)]="filtro.proveedor_id" class="form-control" name="filtro.proveedor_id">
                    <option value="">Todos</option>
                    <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">
                        {{ proveedor.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagada</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>