<!-- <div class="row text-center">
    <div class="col-xs-12">
        <form name="form" (ngSubmit)="loadAll()" class="form-inline mr-top">
             <div class="form-group">
                 <label for="">Del:</label>
                 <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
             </div>
             <div class="form-group" style="margin-left: 15px;">
                 <label for="">Al:</label>
                 <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
             </div>
             <button type="submit" class="btn btn-primary" [disabled]="loading">
                 <i *ngIf="!loading" class="fa fa-search"></i>
                 <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
             </button>
         </form>
    </div>
</div>
<br> -->

<div class="row">
    <app-datos *ngIf="datos" [datos]="datos"></app-datos>
</div>

<div class="row">
    <section class="col-md-6">
        <app-cuentas *ngIf="datos" [datos]="datos"></app-cuentas> 
    </section>
    <section class="col-md-6">
        <app-dash-cajas *ngIf="datos" [datos]="datos"></app-dash-cajas> 
    </section>
    <!-- <section class="col-md-6">
        <app-gasolina></app-gasolina> 
    </section>  -->      
</div>
<div class="row">
    <!-- <section class="col-md-6">
        <app-dash-cajas *ngIf="datos" [datos]="datos"></app-dash-cajas> 
    </section> -->     
    <section class="col-md-12">
        <app-estadistica></app-estadistica> 
    </section>
</div>