<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li><a href="#tanques" data-toggle="tab">Niveles de tanques</a></li>
    <li class="active"><a href="#galonaje" data-toggle="tab">Galonaje</a></li>
    <li class="pull-left header"><i class="fa fa-archive"></i> Galonaje</li>
  </ul>
  <div class="tab-content no-padding">
      <div class="tab-pane active" id="galonaje">
          <app-galonaje></app-galonaje>
      </div>
      <div class="tab-pane" id="tanques">
          <app-niveles></app-niveles>
      </div>
  </div>
</div>
