<button (click)="openModal(inventario)" class="btn btn-danger tcla-F1" tooltip="Productos">
    <i class="glyphicon glyphicon-list-alt"></i> Producto <small>(F1)</small>
</button>

<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Productos</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off">
        <div class="row">
            <form autocomplete="off">
            <div class="col-xs-12">
                <input id="producto" type="text" name="buscador" class="form-control" placeholder="Buscar por nombre o código" [(ngModel)]="buscador" focus="true" id="example">
            </div>
            
            <div class="col-xs-12 mr-top" style="max-height: 350px; overflow-y: auto;">
                <a *ngIf="productos?.total < 1 && !loading" href="javascript:void(0);" class="list-group-item text-center min-height">
                    <!-- <span class="label label-info">Busque productos por su nombre o codigo</span> -->
                    <br><br>
                    <i class="fa fa-cubes fa-5x text-muted"></i>
                    <br><br>
                  </a>
                <a *ngIf="productos?.total < 1 && loading" href="javascript:void(0);" class="list-group-item text-center">
                  <span class="label label-info">Cargando...</span>
                </a>
                <ul class="list-group" *ngIf="productos?.total > 0">
                  <a href="javascript:void(0);" (click)="agregarDetalle(producto)" class="list-group-item" *ngFor=" let producto of productos.data">
                    <span class="badge" style="background-color: #f44336;" *ngIf="producto.promocion">{{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <span class="badge">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <b style="margin-right: 15px;">{{producto.nombre}}</b> 
                    <small class="text-muted">{{producto.categoria}}</small>
                  </a>
                </ul>
            </div>
            </form>
        </div>
    </form>
  </div>
</ng-template>