
<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover" id="tablaReporte">
        <thead>
            <tr>
                <th class="hidden-sm hidden-xs">Fecha</th>
                <th>Proveedor</th>
                <th class="text-center">Ref</th>
                <th class="text-center">Estado</th>
                <th>Fecha de pago</th>
                <th class="text-center">Total</th>
                <th class="text-center"><i class="fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" class="text-center" *ngIf="compras?.total < 1 && !loading">
                    <span class="label label-info">No tiene compras registradas</span>
                </td>
                <td colspan="8" class="text-center" *ngIf="loading">
                    <span class="label label-info">Cargando...</span>
                </td>
            </tr>

            <tr class="animated fadeIn" *ngFor=" let compra of compras?.data">
                
                <td class="hidden-sm hidden-xs">{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                <td><a routerLink="/proveedor/{{compra.proveedor_id}}">{{compra.proveedor | truncate:30 }}</a></td>
                <td class="text-center">{{compra.referencia}}</td>
                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Empleado'">
                    <span class="label" [ngClass]="{'label-warning' : compra?.estado == 'Pendiente', 'label-success' : compra?.estado == 'Pagada'}">
                        {{compra.estado}}
                    </span>
                </td>
                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                    <span class="label label-pop" [ngClass]="{'label-warning' : compra?.estado == 'Pendiente', 'label-success' : compra?.estado == 'Pagada'}" [popover]="popTemplate" [outsideClick]="true">
                        {{compra.estado}}
                    </span>
                    <ng-template #popTemplate>
                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pagada')">Pagada</button>
                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pendiente')">Pendiente</button>
                    </ng-template>
                </td>
                <td>{{compra.fecha_pago | date:'dd-MM-yyyy'}}</td>
                 <td class="text-center">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" routerLink="/compra/{{compra.id}}" tooltip="Editar">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>  
                </td>

            </tr>
        </tbody>
    </table>
    <div class="text-center" *ngIf="compras?.last_page > 1">
        <app-pagination [items]="compras" (setPagination)="setPagination($event)"></app-pagination>
    </div>
</div>
           