<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <button class="navbar-brand" routerLink="/"> Dashboard </button>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <app-admin-header *ngIf="usuario.tipo == 'Administrador' || usuario.tipo == 'Supervisor'"></app-admin-header>
            <app-caja-header *ngIf="usuario.tipo == 'Empleado'"></app-caja-header>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown messages-menu">
                  <a href="" (click)="this.loadAll()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-envelope"></i>
                    <span class="label label-success msj">{{mensajes.length}} </span>
                  </a>
                  <ul class="dropdown-menu dont-close-click">
                    <li class="header text-center">Tienes {{mensajes.length}} mensajes</li>
                    <li>
                      <ul class="menu" style="overflow: auto; width: 100%; height: 200px;">
                        <li>
                            <a *ngFor=" let mensaje of mensajes">
                                <button type="button" (click)="mensajeUpdate(mensaje)" class="btn btn-success btn-xs pull-left" tooltip="Marcar como leido"><i class="fa fa-check"></i></button>
                                <h4>
                                  {{ mensaje.usuario }}
                                  <small><i class="fa fa-clock"></i> 
                                      {{ mensaje.created_at | date:'dd, MMM'}} {{ mensaje.created_at | date:'hh:mm a'}}
                                  </small>
                                </h4>
                                <p style="white-space: pre-line;">{{ mensaje.descripcion}}</p>
                            </a>
                        </li>
                      </ul>
                    </li>
                    <li class="footer">
                      <form autocomplete="off" (ngSubmit)="submit()">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="mensaje.descripcion" name="descripcion" placeholder="Agregar mensaje">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i></button>
                            </span>
                        </div>
                      </form>
                    </li>
                  </ul>
                </li>
                
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/img/usuarios/{{usuario.avatar}}" class="user-image" alt="User Image">
                    <span class="hidden-sm">{{ usuario.name }}</span>
                    <i class="caret"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                      <img src="assets/img/usuarios/{{usuario.avatar}}" class="img-circle" alt="User Image">
                      <p style="color: black;">
                        {{ usuario.name }}
                        <small>{{usuario.tipo }}</small>
                      </p>
                    </li>
                    <li class="user-body" *ngIf="usuario.tipo == 'Administrador'">
                        <div class="col-xs-6 text-center no-padding">
                          <a class="btn bg-default btn-block" routerLink="/admin/empresa">
                            <i class="fa fa-home"></i><br>Gasolinera</a>
                        </div>
                        <!-- <div class="col-xs-6 text-center no-padding">
                          <a class="btn bg-default btn-block" routerLink="/admin/reportes">
                            <i class="fa fa-area-chart"></i><br>Reportes</a>
                        </div> -->
                        <div class="col-xs-6 text-center no-padding">
                          <a class="btn bg-default btn-block" routerLink="/admin/usuarios">
                            <i class="fa fa-users"></i><br>Usuarios</a>
                        </div>
                    </li>
                    <li class="user-footer">
                      <div class="pull-left">
                        <a routerLink="/admin/perfil" class="btn btn-default btn-flat">Perfil</a>
                      </div>
                      <div class="pull-right">
                        <a routerLink="/login" class="btn btn-default btn-flat">Salir</a>
                      </div>
                    </li>
                  </ul>
                </li>

                
            </ul>
        </div>
    </div>
</nav>
<div style="padding-bottom: 50px;"></div>
