<div class="row text-center animated fadeIn">
    <h1 class="text-center" (click)="loadAll()">Estado de Caja <br>
        <small>
            <span *ngIf="caja?.corte?.id" class="label label-success">{{caja?.corte?.estado}}</span>
            <span *ngIf="!caja?.corte?.id" class="label label-danger">Cerrada</span>
        </small>
    </h1>
</div>
<br>
<div class="row text-center animated fadeIn">
    <h4 class="col-xs-6 text-muted text-right">Fecha: {{caja?.corte?.fecha | date:'dd-MM-yyy'}}</h4>
    <h4 class="col-xs-6 text-muted text-left">Cajero: {{ apiService.auth_user().name }}</h4>
</div>
<br>
<div class="row text-center animated fadeIn">
    <button routerLink="/facturacion/nueva" class="btn btn-lg btn-default tcla-F1" tooltip="Ir al módulo de faturación"> <i class="fa fa-file-invoice-dollar"></i> Facturación <small>(F1)</small></button>
    <button (click)="modalNota(mnota, 'X')" class="btn btn-lg btn-default tcla-F2" tooltip="Imprimir corte X y cerrar turno"> <i class="fa fa-print"></i> Corte X <small>(F2)</small></button>
    <button (click)="modalNota(mnota, 'Z')" class="btn btn-lg btn-default tcla-F3" tooltip="Imprimir corte Z y cerrar caja"> <i class="fa fa-print"></i> Corte Z <small>(F3)</small></button>
    <button (click)="modalSupervisor('Caja')" class="btn btn-lg btn-default tcla-F5"> <i class="fa fa-archive"></i> Configurar caja <small>(F5)</small></button>
</div>

<ng-template #mcorte>
  <div class="modal-header">
    <h4 class="modal-title text-center">Configuración de Caja</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="storeCaja()">
            <div class="form-group col-md-12">
                <label for="saldo_inicial">Saldo inicial:</label>
                <input type="number" [(ngModel)]="caja.corte.saldo_inicial" name="saldo_inicial" class="form-control text-center" focus="true">
            </div>
            <div class="form-group col-md-12">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="caja.corte.fecha" name="fecha" class="form-control text-center">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #mnota>
  <div class="modal-header">
    <h4 class="modal-title text-center">Faltante o sobrante </h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="supervisorCheck(tipoCorte)">
            <div class="form-group col-md-12">
                <input type="number" [(ngModel)]="caja.corte.nota" name="nota" class="form-control text-center" focus="true">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>