<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Bombas <small>Niveles</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Bombas</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let bomba of bombas">
        
        <div class="panel text-center">
            <div class="panel-heading" [ngClass]="{ 'bg-red' : bomba.producto_id == 1, 'bg-yellow' : bomba.producto_id == 2, 'bg-green' : bomba.producto_id == 3 }">
                <h3 class="no-margin"> {{ bomba.nombre }}</h3>
                <div class="btn-group" style="position: absolute;right: 20px; top: 5px;">
                    <a (click)="openModal(mbomba, bomba)" class="btn btn-default" tooltip="Editar">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
          <div class="panel-body" style="padding-bottom: 0px;">
            <div class="row">
                <table class="table table-bordered text-center no-margin">
                    <thead>
                        <tr> <th>Lectura Actual</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>{{ bomba.lectura | number}} Gal</td> </tr>
                    </tbody>
                </table>
<!--                 <table class="table table-condensed table-bordered text-center no-margin">
                    <thead>
                        <tr> <th colspan="2">Hoy</th></tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td>{{ bomba.galones_hoy | number}} Gal</td>
                            <td>{{ bomba.venta_hoy | currency:'USD':'symbol':'1.2'}}</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
          </div>
        </div>

    </div>
</section>

<ng-template #mbomba>
  <div class="modal-header">
    <h3 class="modal-title text-center">Bomba {{ bomba.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="nombre">* Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="bomba.nombre" name="nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="producto">* Producto:</label><br>
                <select name="producto_id" [(ngModel)]="bomba.producto_id" class="form-control">
                    <option value="1">Super</option>
                    <option value="2">Regular</option>
                    <option value="3">Diesel</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tanque_id">* Tanque:</label><br>
                <select name="tanque_id" [(ngModel)]="bomba.tanque_id" class="form-control">
                    <option value="1">Super</option>
                    <option value="2">Regular</option>
                    <option value="3">Diesel</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="lectura">* Lectura:</label><br>
                <input type="number" class="form-control" [(ngModel)]="bomba.lectura" name="lectura">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !bomba.nombre || !bomba.producto_id || !bomba.tanque_id || !bomba.lectura">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>