
<div class="col-xs-6 col-lg-3 animated fadeIn">
    <div class="small-box bg-green">
        <div class="inner">
            <h4 class="animated fadeIn" *ngIf="datos?.ventas">{{datos?.ventas | currency:'USD':'symbol':'1.2'}}</h4>
            <h4 class="animated fadeIn" *ngIf="!datos?.ventas">$0.00</h4>
            <p>Venta</p>
        </div>
        <div class="icon">
            <i class="fa fa-receipt"></i>
        </div>
        <a routerLink="/ventas" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-xs-6 col-lg-3 animated fadeIn">
    <div class="small-box bg-red">
        <div class="inner">
            <h4 class="animated fadeIn" *ngIf="datos?.compras">{{datos?.compras | currency:'USD':'symbol':'1.2'}}</h4>
            <h4 class="animated fadeIn" *ngIf="!datos?.compras">$0.00</h4>
            <p>Compras</p>
        </div>
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <a routerLink="/compras" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="col-xs-6 col-lg-3 animated fadeIn">
    <div class="small-box bg-yellow">
        <div class="inner">
            <h4 class="animated fadeIn" *ngIf="datos?.cuentas_pagar">{{datos?.cuentas_pagar | currency:'USD':'symbol':'1.2'}}</h4>
            <h4 class="animated fadeIn" *ngIf="!datos?.cuentas_pagar">$0.00</h4>
            <p>CXP</p>
        </div>
        <div class="icon">
          <i class="fa fa-business-time"></i>
        </div>
        <a routerLink="/cuentas-pagar" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="col-xs-6 col-lg-3 animated fadeIn">
    <div class="small-box bg-purple">
        <div class="inner">
            <h4 class="animated fadeIn" *ngIf="datos?.cuentas_cobrar">{{datos?.cuentas_cobrar | currency:'USD':'symbol':'1.2'}}</h4>
            <h4 class="animated fadeIn" *ngIf="!datos?.cuentas_cobrar">$0.00</h4>
            <p>CXC</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-clock"></i>
        </div>
        <a routerLink="/cuentas-cobrar" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>

