
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Nombre</th>
            <th class="text-center">Actual</th>
            <th class="text-center">Inicial</th>
            <th class="text-center">Último</th>
            <th class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="9" class="text-center" *ngIf="caja?.documentos < 1 && !loading">
                <span class="label label-info">No tiene documentos registrados</span>
            </td>
            <td colspan="9" class="text-center" *ngIf="loading">
                <span class="label label-info">Cargando...</span>
            </td>
        </tr>

        <tr class="animated fadeIn" *ngFor=" let documento of caja?.documentos">
            
            <td class="text-center">{{ documento.id }}</td>
            <td>{{ documento.nombre }}</td>
            <td class="text-center">{{ documento.actual }}</td>
            <td class="text-center">{{ documento.inicial }}</td>
            <td class="text-center">{{ documento.final }}</td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a (click)="openModal(mdocumento, documento)" class="btn btn-default" tooltip="Editar">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                </div>  
            </td>

        </tr>
    </tbody>
</table>

<ng-template #mdocumento>
  <div class="modal-header">
    <h3 class="modal-title text-center">Correlativo: {{ documento.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="nombre">Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="documento.nombre" name="nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="actual">Actual:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.actual" name="actual" focus="true">
            </div>
            <div class="form-group col-sm-6">
                <label for="inicial">Inicial:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.inicial" name="inicial">
            </div>
            <div class="form-group col-sm-6">
                <label for="final">Último:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.final" name="final">
            </div>
            <div class="form-group col-sm-6">
                <label for="rangos">Rangos:</label><br>
                <input type="text" class="text-center form-control" [(ngModel)]="documento.rangos" name="rangos">
            </div>
            <div class="form-group col-sm-6">
                <label for="numero_autorizacion">Numero_autorizacion:</label>
                <input type="text" class="text-center form-control" [(ngModel)]="documento.numero_autorizacion" name="numero_autorizacion">
            </div>
            <div class="form-group col-sm-6">
                <label for="resolucion">Resolucion:</label>
                <input type="text" class="text-center form-control" [(ngModel)]="documento.resolucion" name="resolucion">
            </div>
            <div class="form-group col-sm-6">
                <label for="fecha">Fecha:</label>
                <input type="date" class="text-center form-control" [(ngModel)]="documento.fecha" name="fecha">
            </div>
            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label>
                <textarea class="text-center form-control" [(ngModel)]="documento.nota" name="nota" cols="30" rows="2"></textarea>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
