<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Perfil <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Perfil</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row" *ngIf="!loading || usuario.id">
    
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img *ngIf="usuario.avatar" class="profile-user-img img-responsive img-circle" src="assets/img/usuarios/{{ usuario.avatar }}" alt="User profile picture">
          <h3 class="profile-username text-center">{{ usuario.name }}</h3>
          <p class="text-muted text-center">{{ usuario.tipo }}</p>

        </div>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#cuenta" data-toggle="tab"><i class="fa fa-info-circle"></i> Cuenta</a></li>
          <li><a href="#config" data-toggle="tab" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1"><i class="fa fa-cog"></i> Configuración</a></li>
          <!-- <li><a href="#ventas" data-toggle="tab" *ngIf="usuario.caja_id"><i class="fa fa-area-chart"></i> Ventas</a></li> -->
          <!-- <li><a href="#metas" data-toggle="tab" *ngIf="apiService.auth_user().tipo == 'Administrador'"><i class="fa fa-flag"></i> Metas</a></li> -->
          <!-- <li><a href="#cortes" data-toggle="tab" *ngIf="usuario.caja_id"><i class="fa fa-money"></i> Últimos Cortes</a></li> -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="cuenta">
              <div class="row">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-sm-4">
                        <label for="name">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.name" name="name" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="username">Usuario:</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="email">Correo:</label>
                        <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" placeholder="Correo" required>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="usuario.tipo == 'Supervisor'">
                        <label for="codigo">* Codigo:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="password">* Contraseña:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" placeholder="Ingrese una contraseña para reemplazar la actual">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="password_confirmation">* Confirmar contraseña:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.password_confirmation" name="password_confirmation" placeholder="Confirme la contraseña">
                    </div>
                    
                    <div class="col-xs-12">
                      <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                      <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                      </button>
                    </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="config" *ngIf="apiService.auth_user().tipo == 'Administrador'  && usuario.id != 1">
                <div class="row">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-md-4">
                        <label for="tipo">* Tipo:</label>
                        <select [(ngModel)]="usuario.tipo" class="form-control" name="tipo">
                            <option value="Administrador">Administrador</option>
                            <option value="Empleado">Empleado</option>
                            <option value="Supervisor">Supervisor</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="usuario.tipo == 'Supervisor'">
                        <label for="codigo">* Codigo:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="caja_id">* Caja:</label>
                        <select [(ngModel)]="usuario.caja_id" class="form-control" name="caja_id">
                            <option *ngFor="let caja of cajas" value="{{caja.id}}">
                                {{ caja.tipo }} - {{ caja.nombre }}
                            </option>
                        </select>
                    </div>

                    <div class="col-xs-12">
                      <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                      <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                      </button>
                    </div>
                </form>
                </div>
            </div>

      <!--       <div class="tab-pane fade" id="ventas" *ngIf="usuario.caja_id">

                <div class="row"  *ngIf="datasets.length">
                    <div class="col-xs-6" style="position: relative; height:200px; width: 100%;">
                        <canvas baseChart
                                [datasets]="datasets"
                                [labels]="labels"
                                [options]="options"
                                [colors]="colors"
                                [chartType]="type">
                        </canvas>
                    </div>
                </div>
                <div class="row text-center animated fadeIn" *ngIf="!datasets.length">
                    <div class="text-muted text-center thumbler">
                      <i class="fa fa-pie-chart fa-5x"></i>
                      <br>
                      Sin datos
                    </div>
                </div>

            </div> 
            <div class="tab-pane fade" id="metas" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                  <div class="row">
                    <div class="col-xs-3" *ngFor="let mes of meses">
                      <div class="well" style="padding: 10px;">
                        <form (ngSubmit)="onSubmitMeta(mes)">
                          <h4 class="text-center no-margin">{{mes.nombre}}</h4>
                          <h5 class="text-center" [ngClass]="{'text-danger' : mes.venta < mes.meta, 'text-success' : mes.venta >= mes.meta}" *ngIf="mes.venta">{{ mes.venta | currency:'USD':true:'1.2' }}</h5>
                          <h5 class="text-center" *ngIf="!mes.venta"> -- </h5>
                          <input type="number" [(ngModel)]="mes.meta" name="meta" class="form-control text-center" placeholder="Meta">
                        </form>
                      </div>
                    </div>
                  </div>
              </div>  
            <div class="tab-pane fade" id="cortes" *ngIf="usuario.caja_id">
                <div class="row">

                <div class="col-sm-12">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Apertura</th>
                                    <th>Cierre</th>
                                    <th class="text-center">Saldo Inicio</th>
                                    <th class="text-center">Saldo Final</th>
                                    <th class="text-center">N° Venta</th>
                                    <th class="text-center">Venta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let corte of usuario?.cortes">
                                    <td>{{ corte.apertura | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ corte.cierre ? (corte.cierre | date:'HH:mm:ss a') : 'Actual' }}</td>
                                    <td class="text-center">{{ corte.saldo_inicial | currency:'USD':'symbol':'1.2' }}</td>
                                    <td class="text-center">{{ corte.saldo_final | currency:'USD':'symbol':'1.2' }}</td>
                                    <td class="text-center">{{ corte.ventas_cantidad }}</td>
                                    <td class="text-center">{{ corte.ventas_suma | currency:'USD':'symbol':'1.2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
                </div>

            </div>  -->         
        </div>
      </div>
    </div>

</div>

<div class="row" *ngIf="loading && !usuario.id">
  <p class="text-center mr-top">Cargando...</p>
</div>

</section>

</div>  