<div class="row">

    <div class="col-md-4" *ngFor=" let bodega of producto.bodegas">
        <div class="box">
            <div class="box-body">
                <h5 class="box-title">{{ bodega.bodega }}</h5>
                <h4>En Stock: {{ bodega.stock | number:'1.0'}}</h4>
                <p>Stock Min: {{ bodega.stock_min | number:'1.0'}} | Stock Max: {{ bodega.stock_max | number:'1.0'}}</p>
            </div>
            <div class="box-footer">
                <div class="btn-group float-end" role="group">
                    <a class="btn btn-default"  (click)="delete(bodega.id)" tooltip="Eliminar">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-default"  (click)="openModalInventario(mbodega, bodega)" tooltip="Configurar">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                    <app-ajuste [producto]="producto" [bodega]="bodega" (setAjuste)="setAjuste($event)"></app-ajuste>
                </div> 
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="box" style="min-height: 200px;">
            <div class="box-body text-center" style=" padding-top: 40px; display: flex; align-content: center; justify-content: center;">
                <a href="javascript:void(0)" class="tcla-F7" (click)="openModalInventario(mbodega, {})" tooltip="Agregar"  tabindex="0">
                    <i class="fa fa-inbox"></i> <br> Agregar bodega
                </a>
            </div>
        </div>

    </div>

</div>

<ng-template #mbodega>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="agregarInventario()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="bodega_id">Bodega *:</label>
                <select name="bodega_id" [(ngModel)]="bodega.bodega_id" class="form-control form-select" focus="true">
                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="stock_min">Stock mínimo *:</label>
                <input type="number" name="stock_min" [(ngModel)]="bodega.stock_min" placeholder="Stock minimo" class="form-control">
            </div>
            <div class="form-group col-sm-6">
                <label for="stock_max">Stock deseado *:</label>
                <input type="number" name="stock_max" [(ngModel)]="bodega.stock_max" placeholder="Stock deseado" class="form-control">
            </div>
            <!-- <div class="form-group col-sm-6">
                <label for="lote">Lote:</label>
                <input type="text" name="lote" [(ngModel)]="bodega.lote" placeholder="Lote" class="form-control">
            </div>
            <div class="form-group col-sm-6">
                <label for="vencimiento">Vencimiento:</label>
                <input type="date" name="vencimiento" [(ngModel)]="bodega.vencimiento" placeholder="Vencimiento" class="form-control">
            </div> -->
            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="bodega.nota" name="nota" placeholder="Nota">
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

