<div class="container">

<section class="content-header">
    <h1> Vales <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Vales</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div" *ngIf="filtrado && vales?.total">
                        <span class="label label-default"> Registros: {{ vales?.total}}</span>
                        <span class="label label-default"> Total: {{ vales?.data | sum:'total' | currency:'USD':'true':'1.2' }}</span>
                    </div>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()" autocomplete="off">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <a (click)="loadAll()" class="btn btn-default" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></a>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && vales?.total" [nombre]="'Vales'"></app-descargar-excel>
                                <button *ngIf="apiService.auth_user().tipo == 'Empleado'" routerLink="/venta/nueva" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">Numero de Vale</th>
                                <th>Fecha</th>
                                <th class="hidden-xs">Hora</th>
                                <th>Usuario</th>
                                <th>Cliente</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="vales?.total < 1 && !loading">
                                    <span class="label label-info">No tiene vales registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let venta of vales?.data">
                                
                                <td class="text-center">{{venta.referencia}}</td>
                                <td>{{venta.created_at | date:'dd/MM/yyyy'}}</td>
                                <td class="hidden-xs">{{venta.created_at | date:'hh:mm:ss a'}}</td>
                                <td>{{venta.usuario}}</td>
                                <td><a routerLink="/cliente/'{{venta.cliente_id}}">{{venta.cliente | truncate:30}}</a></td>
                                <td class="text-center">
                                    <span class="label" [ngClass]="{'label-warning' : venta?.estado == 'Pendiente', 'label-danger' : venta?.estado == 'Anulada', 'label-success' : venta?.estado == 'Cobrada'}">
                                        {{venta.estado}}
                                    </span>
                                </td>
                                <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/venta/{{venta.id}}" tooltip="Ver">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="vales?.last_page > 1">
                        <app-pagination [items]="vales" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            
            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>