<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Bodegas <small>Niveles</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Bodegas</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-sm-6" *ngFor="let bodega of bodegas">
            
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3> {{ bodega.nombre }} </h3>
                </div>
                <div class="btn-group" role="group" style="position: absolute;right: 20px; top: 5px;">
                    <a (click)="openModal(mbodega, bodega)" class="btn btn-default" tooltip="Editar">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a target="_blank" href="{{ this.apiService.baseUrl + '/api/reporte/bodegas/' + bodega.id + '?token=' + this.apiService.auth_token()}}" class="btn btn-default" tooltip="Imprimir">
                        <i class="fa fa-print"></i>
                    </a>
                </div>
              <div class="panel-body">
                <div class="row">
                    <p class="col-sm-12">{{ bodega.descripcion }}</p>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Productos</th> <th>Stocks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="50%">{{ bodega.productos | number}}</td>
                                <td width="50%">{{ bodega.cantidad | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Costo</th> <th>Precio</th> <th>Utilidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="33%">{{ bodega.costo | currency:'USD':'symbol':'1.2'}}</td>
                                <td width="33%">{{ bodega.precio | currency:'USD':'symbol':'1.2'}}</td>
                                <td width="33%">{{ bodega.utilidad | currency:'USD':'symbol':'1.2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>

        </div>
    </div>
</section>

</div>
<ng-template #mbodega>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bodega</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="nombre">* Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="bodega.nombre" name="nombre" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="descripcion">Descripción:</label><br>
                <input type="text" class="form-control" [(ngModel)]="bodega.descripcion" name="descripcion">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !bodega.nombre">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>