<div class="container">

<section class="content-header">
    <h1> Ventas <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Ventas</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div" *ngIf="ventas?.total">
                        <span class="label label-default"> {{ ventas?.total}}  registros</span>
                        <!-- <span class="label label-default"> Total: {{ ventas?.data | sum:'total' | currency:'USD':'symbol':'1.2' }}</span> -->
                    </div>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()" autocomplete="off">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar..." [(ngModel)]="buscador" focus="'true'">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'" tooltip="Filtrar"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && ventas?.total" [nombre]="'Ventas'"></app-descargar-excel>
                                <button *ngIf="apiService.auth_user().tipo == 'Empleado'" routerLink="/facturacion/nueva" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="hidden-xs">Fecha</th>
                                <th class="hidden-xs">Cliente</th>
                                <th *ngIf="apiService.auth_user().tipo == 'Administrador' || apiService.auth_user().tipo == 'Supervisor'">Usuario</th>
                                <th class="hidden-xs text-center">Tipo</th>
                                <th class="hidden-xs text-center">Correlativo</th>
                                <th class="text-center">Estado</th>
                                <th class="hidden-xs hidden-sm">Metodo de pago</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                                    <span class="label label-info">No tiene ventas registradas</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let venta of ventas?.data">
                                
                                <td class="hidden-xs">{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                                <!-- <td class="hidden-xs">{{venta.fecha | date:'hh:mm:ss a'}}</td> -->
                                <td class="hidden-xs">{{venta.cliente_nombre | truncate:'30'}}</td>
                                <td *ngIf="apiService.auth_user().tipo == 'Administrador' || apiService.auth_user().tipo == 'Supervisor'">{{venta.usuario | truncate:30}}</td>
                                <td class="hidden-xs"> {{venta.tipo_documento }} </td>
                                <td class="hidden-xs text-center"> {{venta.correlativo }} </td>
                                <td class="text-center" *ngIf="apiService.auth_user().tipo != 'Administrador'">
                                    <span class="label label-pop" [ngClass]="{'label-warning' : venta?.estado == 'Pendiente', 'label-danger' : venta?.estado == 'Anulada', 'label-success' : venta?.estado == 'Cobrada'}">
                                        {{venta.estado}}
                                    </span>
                                </td>
                                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                                    <span class="label label-pop" [ngClass]="{'label-warning' : venta?.estado == 'Pendiente', 'label-danger' : venta?.estado == 'Anulada', 'label-success' : venta?.estado == 'Cobrada'}" [popover]="popTemplate" [outsideClick]="true">
                                        {{venta.estado}}
                                    </span>
                                    <ng-template #popTemplate>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Cobrada')">Cobrada</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Pendiente')">Pendiente</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Anulada')">Anulada</button>
                                    </ng-template>
                                </td>

                                <td class="hidden-xs hidden-sm"><span tooltip="{{ venta.referencia }}">{{venta.metodo_pago}}</span></td>
                                <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a *ngIf="apiService.auth_user().tipo == 'Administrador'" class="btn btn-danger" (click)="delete(venta.id)" tooltip="Eliminar">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-default" routerLink="/venta/{{venta.id}}" tooltip="Ver">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="apiService.auth_user().tipo == 'Empleado'" class="btn btn-default" (click)="reemprimir(venta)" tooltip="Reemprimir">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="ventas?.last_page > 1">
                        <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.metodo_pago" class="form-control" name="filtro.metodo_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Credito">Crédito Fiscal</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Vale">Vale</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Versatec">Versatec</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo_documento">Tipo de Transacción:</label>
                <select [(ngModel)]="filtro.tipo_documento" class="form-control" name="filtro.tipo_documento">
                    <option value="">Todos</option>
                    <option value="Credito Fiscal">Crédito Fiscal</option>
                    <option value="Factura">Factura</option>
                    <option value="Ticket">Ticket</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>