<div class="container">

<section class="content-header">
    <h1> Devoluciones Ventas <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Devoluciones Ventas</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="ventas?.total">Registros: {{ventas?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()" autocomplete="off">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button *ngIf="apiService.auth_user().tipo == 'Empleado'" routerLink="/venta/nueva" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs text-center">ID</th>
                                <th class="hidden-xs">Fecha</th>
                                <th class="hidden-xs">Hora</th>
                                <th>Cliente</th>
                                <th class="hidden-xs text-center">Ref</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                                    <span class="label label-info">No tiene devoluciones registradas</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let venta of ventas?.data">
                                
                                <td class="hidden-xs text-center">{{venta.id}}</td>
                                <td class="hidden-xs">{{venta.created_at | date:'dd/MM/yyyy'}}</td>
                                <td class="hidden-xs">{{venta.created_at | date:'hh:mm:ss a'}}</td>
                                <td><a routerLink="/cliente/'{{venta.cliente_id}}">{{venta.cliente | truncate:30}}</a></td>
                                <td class="hidden-xs text-center">
                                    {{venta.referencia}}
                                </td>
                                <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/devolucion/venta/{{venta.id}}" tooltip="Ver">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="apiService.auth_user().tipo == 'Empleado'" class="btn btn-default" (click)="reemprimir(venta)" tooltip="Reemprimir">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="ventas?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
