<div class="box-body table-responsive no-padding min-heigth">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr *ngFor="let tanque of tanques">
        <td>{{ tanque.nombre }}:</td>
        <td>{{ tanque.stock}} / {{ tanque.stock_max}} Gal</td>
        <td width="250">
          <progressbar class="progress active" [value]="tanque.stock" [max]="tanque?.stock_max" [type]="tanque.tipo">
              {{ ((tanque?.stock / tanque?.stock_max) * 100).toFixed(2) }} %
          </progressbar>
        </td>
      </tr>
    </tbody>
  </table>
</div>