<div class="container">

<section class="content-header">
    <h1> Combos <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/dashboard"> <i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Combos</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="combos?.total">Combos: {{combos?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button routerLink="/combo/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Periodo</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="combos?.total < 1 && !loading">
                                    <span class="label label-info">No tiene combos registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let combo of combos?.data" [ngClass]="{ 'bg-danger' : combo.stock <= combo.stock_min }">
                                
                                <td class="text-center">{{ combo.id }}</td>
                                <td><a routerLink="/combo/{{combo.id}}">{{ combo.nombre }}</a></td>
                                <td>{{ combo.categoria }}</td>
                                <td><span *ngIf="combo.activo">{{ combo.inicio | date:'dd-MM-yyyy'}} al {{ combo.fin | date:'dd-MM-yyyy'}}</span></td>
                                <td class="text-center">
                                    <span *ngIf="combo.activo" class="label label-success">Activo</span>
                                    <span *ngIf="!combo.activo" class="label label-danger">Inactivo</span>
                                </td>
                                <td class="text-center">{{ combo.precio | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/combo/{{combo.id}}"  tooltip="Editar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="combos?.last_page > 1">
                        <app-pagination [items]="combos" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>