<section class="container content animated fadeIn">

    <div class="panel panel-default">
        <div class="panel-body" style="min-height: 450px;">

            <div class="row">
                <div class="col-md-6">
                    <app-codigo-barra (productoSelect)="productoSelect($event)"></app-codigo-barra>
                </div>
                <div class="col-md-6">
                    <h3 class="text-right no-margin no-padding">
                        <span class="label label-primary">Total: {{ venta.total | currency:'USD':'symbol':'1.2'}}</span>
                    </h3>
                </div>
            </div>

            <app-venta-detalles [venta]="venta" (update)="updateVenta($event)"></app-venta-detalles>

        </div>

        <div class="panel-footer" *ngIf="!loading && venta.estado == 'Pendiente' || !venta.id">
            <div class="row">
                <div class="col-md-7">
                    <a  routerLink="/admin/caja/1" class="btn btn-default" tooltip="Cambiar correlativos">
                        <i class="fa fa-cog"></i>
                    </a>
                    <app-tienda-venta-producto (productoSelect)="productoSelect($event)"></app-tienda-venta-producto>
                    <app-venta-combo (productoSelect)="productoSelect($event, 'Grupo')"></app-venta-combo>
                    <app-venta-recargas (productoSelect)="productoSelect($event)"></app-venta-recargas>
                    <app-venta-ordenes></app-venta-ordenes>
                </div>
                <div class="col-md-5">
                    <button type="submit" (click)="openModalFacturar(mfacturar)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-primary pull-right tcla-F10">
                        <i class="fa fa-money"></i> Facturar <small>(F10)</small>
                    </button>
                    <button (click)="openModalOrden(morden)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-default pull-right tcla-F8">
                        <i class="fa fa-clock-o"></i> Guardar <small>(F8)</small>
                    </button>
                    <button type="submit" (click)="openModalDevolucion(mdevolucion)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-default pull-right tcla-F10">
                        <i class="fa fa-money"></i> Devolución <small>(F17)</small>
                    </button>
                    <button (click)="limpiar()" class="tcla-Delete" style="opacity: 0;">.</button>
                </div>
            </div>
        </div>
    </div>

</section>

<ng-template #morden>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Guardar como pendiente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onPosponer()">
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="venta.nombre" focus="true">
        </div>
    </div>
    <div class="row text-center">
        <br><br>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-clock-o"></i>
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>        
    </form>
  </div>
</ng-template>

<ng-template #mfacturar>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Facturación</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onFacturar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <h4 class="col-md-6">Total: <span class="label label-primary">{{ venta.total | currency:'USD':'symbol':'1.2' }}</span></h4>
                <h4 class="col-md-6">Vuelto: <span class="label label-info" *ngIf="venta.recibido">{{ venta.recibido - venta.total | currency:'USD':'symbol':'1.2' }}</span> <span class="label label-info" *ngIf="!venta.recibido">$0.00</span></h4>
            </div>
            <div class="form-group col-sm-12">
                <label for="recibido">Recibido:</label>
                <input type="number" name="recibido" [(ngModel)]="venta.recibido" placeholder="{{ venta.total | currency:'USD':'symbol':'1.2' }}" class="form-control" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo_documento">Tipo:</label>
                <select name="tipo_documento" [(ngModel)]="venta.tipo_documento" (change)="onSelectTipo($event.target.value)" class="form-control" id="tipo_documento">
                    <option value="{{documento.nombre}}" *ngFor="let documento of documentos">{{ documento.nombre }}</option>
                    <option value="Devolucion">Devolución</option>
                </select>
            </div>
            <div class="form-group col-sm-12" *ngIf="venta.tipo_documento != 'Ticket'">
                <label for="">Cliente:</label>
                <app-venta-cliente-tienda [cliente]="venta.cliente" (clienteSelect)="clienteSelect($event)"></app-venta-cliente-tienda>
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.tipo_documento != 'Devolucion'">
                <label for="metodo_pago">Forma de pago:</label>
                <select name="metodo_pago" [(ngModel)]="venta.metodo_pago" (change)="onSelectForma($event.target.value)" class="form-control" id="metodo_pago">
                    <option value="" disabled>Seleccione o presione la letra</option>
                    <option value="{{metodo.nombre}}" *ngFor="let metodo of metodospago">{{ metodo.nombre }}</option>
                </select>
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.tipo_documento == 'Ticket'">
                <label for="referencia">Nombre en ticket:</label><br>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="venta.nombre">
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.metodo_pago != 'Efectivo'">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta.referencia" name="referencia" id="referencia">
            </div>
            <div class="form-group col-sm-12" *ngIf="venta.metodo_pago == 'Tarjeta'">
                <label for="telefono">Teléfono:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta?.cliente.telefono" name="telefono">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" id="submit" [disabled]="loading">
                    <span *ngIf="!loading">Cobrar</span>
                    <span *ngIf="loading">Cobrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mdevolucion>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Devolución</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
        <div class="row text-center">

            <div class="form-group col-sm-12">
                <label for="referencia">Referencia de venta:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta.referencia" name="referencia" focus="true" required>
            </div>
            <div class="form-group col-sm-12">
                <label for="telefono">Teléfono:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta?.cliente.telefono" name="telefono" required>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" id="submit" [disabled]="loading">
                    <span *ngIf="!loading">Ingresar devolución</span>
                    <span *ngIf="loading">Ingresando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mcorte>
  <div class="modal-header">
    <h4 class="modal-title text-center">Configuración de Caja</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="guardarCorte()">
            <div class="form-group col-md-12">
                <label for="total">Efectivo con que se inicia:</label>
                <input type="number" [(ngModel)]="corte.saldo_inicial" name="total" class="form-control text-center" focus="true">
            </div>
            <div class="form-group col-md-12">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="corte.fecha" name="fecha" class="form-control text-center">
            </div>
            <div class="col-md-12">
            <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
