<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Telefonia <small>Saldos</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Saldos</li>
    </ol>
</section>

<section class="content animated fadeIn">
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let telefonia of telefonias">
                <div class="panel">
                <!-- Default panel contents -->
                  <div class="panel-heading text-center" [ngClass]="{ 'bg-maroon' : telefonia.nombre == 'Digicel', 'bg-red' : telefonia.nombre == 'Claro', 'bg-green' : telefonia.nombre == 'Movistar', 'bg-blue' : telefonia.nombre == 'Tigo' }">
                      <h3 class="no-margin">
                        {{ telefonia.nombre }} <br> <br>
                        <span class="label label-primary" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                          {{ telefonia.stock_bodega * 1 + telefonia.stock_venta * 1 | currency:'USD':true:'1.2' }}
                        </span>
                        <span class="label label-primary" *ngIf="apiService.auth_user().tipo == 'Empleado'">
                          {{ telefonia.stock_venta | currency:'USD':true:'1.2' }}
                        </span>
                      </h3>
                  </div>
                <div class="panel-body text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                  <div class="btn-group" role="group">
                      <a class="btn btn-default" (click)="delete(telefonia.id)" tooltip="Editar">
                          <i class="fa fa-trash"></i>
                      </a>
                      <a class="btn btn-default" [routerLink]="['/producto/', telefonia.id]" tooltip="Editar">
                          <i class="fa fa-pencil-alt"></i>
                      </a>
                      <a class="btn btn-default" [routerLink]="['/producto/cardex/', telefonia.id]" tooltip="Cardex">
                          <i class="fa fa-list-alt"></i>
                      </a>
                  </div>
                </div>

                <!-- Table -->
                <table class="table table-hover table-bordered" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                    <caption class="text-center">Saldos</caption>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center">Saldo</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let bodega of telefonia.bodegas">
                            <td>{{ bodega.bodega }}</td>
                            <td class="text-center">{{ bodega.stock | currency:'USD':true:'1.2' }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default"  (click)="openModal(mbodega, bodega)" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </div>  
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="telefonias && datos">
            <h3 class="col-xs-12"> Venta <small>Detalle</small> </h3>
            <div class="col-xs-12 text-center">
                <form class="form-inline mr-top" (ngSubmit)="filtrar()" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="">Del:</label>
                            <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <label for="">Al:</label>
                            <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        </div>
                        <label for="" style="margin-left: 15px;">Usuario:</label>
                        <select [(ngModel)]="filtro.empleado_id" class="form-control" name="empleado_id"  style="width: 200px;">
                            <option [ngValue]="0">Todos</option>
                            <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                                {{ usuario.name }}
                            </option>
                        </select>
                        <button type="submit" class="btn btn-default" tooltip="Filtrar"><i class="fa fa-search"><span *ngIf="loading">...</span></i></button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 mr-top"></div>
            <div class="col-sm-3 col-xs-6 animated fadeIn">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 class="animated fadeIn" *ngIf="datos?.tigo">{{datos?.tigo | currency:'USD':true:'1.2'}}</h3>
                        <h3 class="animated fadeIn" *ngIf="!datos?.tigo">$0.00</h3>
                        <p>Tigo</p>
                        <p>Recargas: {{datos?.tigo_recarga | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.tigo_recarga_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                        <p>Paquetes: {{datos?.claro_paquete | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.tigo_paquete_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                    </div>
                    <div class="icon">
                      <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 animated fadeIn">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 class="animated fadeIn" *ngIf="datos?.claro">{{datos?.claro | currency:'USD':true:'1.2'}}</h3>
                        <h3 class="animated fadeIn" *ngIf="!datos?.claro">$0.00</h3>
                        <p>Claro</p>
                        <p>Recargas: {{datos?.claro_recarga | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.claro_recarga_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                        <p>Paquetes: {{datos?.claro_paquete | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.claro_paquete_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                    </div>
                    <div class="icon">
                      <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 animated fadeIn">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 class="animated fadeIn" *ngIf="datos?.movistar">{{datos?.movistar | currency:'USD':true:'1.2'}}</h3>
                        <h3 class="animated fadeIn" *ngIf="!datos?.movistar">$0.00</h3>
                        <p>Movistar</p>
                        <p>Recargas: {{datos?.movistar_recarga | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.movistar_recarga_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                        <p>Paquetes: {{datos?.claro_paquete | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.movistar_paquete_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                    </div>
                    <div class="icon">
                      <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 animated fadeIn">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <h3 class="animated fadeIn" *ngIf="datos?.digicel">{{datos?.digicel | currency:'USD':true:'1.2'}}</h3>
                        <h3 class="animated fadeIn" *ngIf="!datos?.digicel">$0.00</h3>
                        <p>Digicel</p>
                        <p>Recargas: {{datos?.digicel_recarga | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.digicel_recarga_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                        <p>Paquetes: {{datos?.claro_paquete | currency:'USD':true:'1.2'}}</p>
                        <ul *ngFor="let tipo of datos?.digicel_paquete_tipos">
                            <li>{{tipo.length}} - {{tipo[0].precio | currency:'USD':true:'1.2'}}</li>
                        </ul>
                    </div>
                    <div class="icon">
                      <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
</section>

</div>


<ng-template #mbodega>
  <div class="modal-header">
    <h2 class="modal-title text-center">Saldo de {{bodega.nombre}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
  
            <div class="form-group col-md-12">
                <label for="stock_min">Stock Minimo:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" [(ngModel)]="bodega.stock_min" name="stock_min" placeholder="Stock minimo" focus="true">
                </div>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !bodega.capacidad || !bodega.stock_min">
                    <i class="fa fa-money"></i>
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
