
<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Materia Prima <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/materias-primas"><i class="fa fa-list"></i> Materias Primas</a></li>
        <li class="active">Materia Prima</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">{{ producto.nombre }}</h3>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#datos" data-toggle="tab"><i class="fa fa-info-circle"></i> Datos</a></li>
          <li><a href="#inventarios" data-toggle="tab" *ngIf="producto.id && producto.inventario && producto.categoria_id != 1"><i class="fa fa-inbox"></i> Inventario</a></li>
          <li><a href="#compras" data-toggle="tab" *ngIf="producto.id"><i class="fa fa-cart-arrow-down"></i> Historial de Compras</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="datos">
              <div class="row">
                <app-materia-prima-informacion [producto]='producto'></app-materia-prima-informacion>
              </div>
            </div>

            <div class="tab-pane fade no-padding" id="inventarios" *ngIf="producto.id && producto.inventario && producto.categoria_id != 1">
                <app-producto-inventarios [producto]='producto'></app-producto-inventarios>
            </div> 

            <div class="tab-pane fade no-padding" id="compras" *ngIf="producto.id">
                <app-producto-compras></app-producto-compras>
            </div>

        </div>
      </div>
    </div>

</div>

</section>

</div>  
