<div class="container">

<section class="content-header">
    <h1> Usuarios <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Usuarios</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                                <a (click)="loadAll()" class="btn btn-default"><i class="fa fa-sync-alt"></i></a>
                                <a routerLink="/admin/usuario/nuevo" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">Fecha</th> -->
                                <th>Nombre</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center hidden-sm">Caja</th>
                                <th class="text-center hidden-sm">Activo</th>
                                <th class="text-center">Login</th>
                                <th class="text-center">Logout</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="usuarios?.total < 1 && !loading">
                                    <span class="label label-info">No tiene usuarios registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr *ngFor=" let usuario of usuarios?.data">
                                
                                <!-- <td class="text-center">{{usuario.created_at | date:'dd-MM-y'}}</td> -->
                                <td>{{usuario.name}}</td>
                                <td class="text-center">{{usuario.tipo}}</td>
                                <td class="text-center hidden-sm">{{usuario.caja}}</td>
                                <td class="text-center hidden-sm" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                                    <span *ngIf="usuario.id != 1" class="label label-pop" [ngClass]="{'label-danger' : usuario?.activo != 1, 'label-success' : usuario?.activo == 1}" [popover]="popTemplate" [outsideClick]="true">
                                        <span *ngIf="usuario.activo == 1">Si</span>
                                        <span *ngIf="usuario.activo != 1">No</span>
                                    </span>
                                    <ng-template #popTemplate>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(usuario, 1)">Activo</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(usuario, 0)">Bloqueado</button>
                                    </ng-template>
                                </td>
                                <td class="text-center"><span tooltip="{{ usuario.ultimo_login }}"> {{ usuario.ultimo_login_human }}</span></td>
                                <td class="text-center"><span tooltip="{{ usuario.ultimo_logout }}"> {{ usuario.ultimo_logout_human }}</span></td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" style="width:100px;">
                                        <a class="btn btn-default" routerLink="/admin/usuario/{{ usuario.id }}" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="usuario.id != 1" class="btn btn-default" (click)="delete(usuario.id)" data-toggle="tooltip" title="Eliminar">
                                        <i class="fa fa-trash"></i></a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="usuarios?.last_page > 1">
                        <app-pagination [items]="usuarios" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>