<div class="container">

<section class="content-header">
    <h1> Categorias <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Categorias</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div">
                        <span class="label label-default"> Registros: {{ categorias?.length}}</span>
                        <!-- <span class="label label-default"> Pago pendiente: {{ categorias?.data | sum:'pago_pendiente' | currency:'USD':'symbol':'1.2' }}</span> -->
                    </div>
                    <div class="box-tools">
                        <div class="input-group col-sm-6 pull-right">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                            <div class="input-group-btn">
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openModal(mcategoria, {})" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <!-- <th class="text-center">Productos</th> -->
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="categorias?.total < 1 && !loading">
                                    <span class="label label-info">No tiene categorias registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let categoria of categorias | filter:'nombre':buscador">
                                
                                <td class="text-center">{{ categoria.id }}</td>
                                <td>{{categoria.nombre }}</td>
                                <!-- <td class="text-center">{{ categoria.productos }}</td> -->
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" (click)="delete(categoria)" tooltip="Eliminar"> <i class="fa fa-trash-alt"></i> </a>
                                        <a class="btn btn-default" (click)="openModal(mcategoria, categoria)"  tooltip="Editar"> <i class="fa fa-pencil-alt"></i> </a>
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mcategoria>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Categoria</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">

            <div class="form-group col-md-12">
                <label for="categoria.nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="categoria.nombre" focus="true" (change)="slug()">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mcategorias>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Categoria</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onChangeCategoria()">
        <div class="row text-center">
            <div class="form-group col-md-12">
                <label for="categoria_nueva">* Categoria:</label>
                <select [(ngModel)]="cambio.categoria_nueva" class="form-control" name="categoria_nueva">
                    <option [value]="cat.id" *ngFor="let cat of categorias">{{ cat.nombre }}</option>
                </select>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Cambiar</span>
                    <span *ngIf="loading">Cambiando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>