<button (click)="openModalOrdenes(mordenes)" class="btn btn-success tcla-F3" tooltip="Ordenes">
    <i class="fa fa-clock"></i> Ordenes <small>(F3)</small>
</button>

<ng-template #mordenes>
  <div class="modal-header">
    <h3 class="modal-title text-center">Ordenes</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off">
        <div class="col-xs-12">
            <input type="text" name="search" class="form-control" placeholder="Buscar" [(ngModel)]="obuscador" focus="true">
        </div>

        <div class="col-xs-12 mr-top">
            <a *ngIf="ordenes?.data?.length < 1 && !loading" href="javascript:void(0);" class="list-group-item text-center">
              <span class="label label-info">No hay ordenes pendientes</span>
              <br><br>
              <i class="glyphicon glyphicon-inbox fa-5x text-muted"></i>
              <br><br>
            </a>
                <a *ngIf="ordenes?.data?.length < 1 && loading" href="javascript:void(0);" class="list-group-item text-center"><span class="label label-info">Cargando...</span></a>
            <ul class="list-group" *ngIf="ordenes?.data?.length > 0">
              <a href="javascript:void(0);" (click)="selectOrden(orden)" class="list-group-item" *ngFor=" let orden of ordenes?.data | filter:'nombre':obuscador">
                <span class="badge">{{ orden.total | currency:'USD':'symbol':'1.2'}}</span>
                {{orden.created_at | date:'dd-MM-yyyy hh:mm:ss a'}} - <b>{{orden.nombre}}</b>
              </a>
            </ul>
        </div>
        </form>
    </div>
  </div>
</ng-template>
