<li class="dropdown user user-menu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="assets/img/usuarios/{{usuario.avatar}}" class="user-image" alt="User Image">
    <span class="hidden-sm">{{ usuario.name }}</span>
    <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
      <img src="assets/img/usuarios/{{usuario.avatar}}" class="img-circle" alt="User Image">
      <p style="color: black;">
        {{ usuario.name }}
        <small>{{usuario.tipo }}</small>
      </p>
    </li>
    <li class="user-body" *ngIf="usuario.tipo == 'Administrador'">
        <div class="col-xs-6 text-center no-padding">
          <a class="btn bg-default btn-block" routerLink="/admin/empresa">
            <i class="fa fa-home"></i><br>Gasolinera</a>
        </div>
        <!-- <div class="col-xs-6 text-center no-padding">
          <a class="btn bg-default btn-block" routerLink="/admin/reportes">
            <i class="fa fa-area-chart"></i><br>Reportes</a>
        </div> -->
        <div class="col-xs-6 text-center no-padding">
          <a class="btn bg-default btn-block" routerLink="/admin/usuarios">
            <i class="fa fa-users"></i><br>Usuarios</a>
        </div>
    </li>
    <li class="user-footer">
      <div class="pull-left">
        <a routerLink="/admin/perfil" class="btn btn-default btn-flat">Perfil</a>
      </div>
      <div class="pull-right">
        <a routerLink="/login" class="btn btn-default btn-flat">Salir</a>
      </div>
    </li>
  </ul>
</li>
