
<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Producto <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/productos"><i class="fa fa-list"></i> Productos</a></li>
        <li class="active">Producto</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">{{ producto.nombre }}</h3>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#datos" data-toggle="tab"><i class="fa fa-info-circle"></i> Datos</a></li>
          <li><a href="#inventarios" data-toggle="tab" *ngIf="producto.id && producto.inventario && producto.categoria_id != 1"><i class="fa fa-inbox"></i> Inventario</a></li>
          <li><a href="#composicion" data-toggle="tab" *ngIf="producto.id && producto.compuesto && producto.categoria_id != 1"><i class="fa fa-inbox"></i> Composición</a></li>
          <li><a href="#promociones" data-toggle="tab" *ngIf="producto.id && producto.categoria_id != 1"><i class="fa fa-percent"></i> Promociones</a></li>
          <li><a href="#compras" data-toggle="tab" *ngIf="producto.id"><i class="fa fa-cart-arrow-down"></i> Historial de Compras</a></li>
          <li><a href="#precios" data-toggle="tab" *ngIf="producto.id"><i class="fa fa-file-invoice-dollar"></i> Historial de Precios</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="datos">
              <div class="row">
                <form name="form" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group col-md-6">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="codigo">Código:</label>
                        <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo" placeholder="Código" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="categoria_id">* Categoria:</label>
                        <select [(ngModel)]="producto.categoria_id" class="form-control" name="categoria_id">
                            <option *ngFor="let cat of categorias" [value]="cat.id">
                                {{ cat.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="medida">Medida:</label>
                        <input type="text" class="form-control" [(ngModel)]="producto.medida" name="medida" placeholder="Unidad, Lb, Cm etc." required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="costo">* Costo:</label>
                        <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="margen">Margen utilidad:</label>
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="number" min="1" class="form-control" [(ngModel)]="producto.margen" name="margen" (change)="calcular()">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="precio">* Precio:</label>
                        <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="costo_anterior">Costo Anterior:</label>
                        <input type="number" class="form-control" [(ngModel)]="producto.costo_anterior" name="costo_anterior" placeholder="$0.00" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="costo_promedio">Costo Promedio:</label>
                        <input type="number" class="form-control" [(ngModel)]="producto.costo_promedio" name="costo_promedio" placeholder="$0.00" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="categoria_id">* Tipo impuesto:</label>
                        <select [(ngModel)]="producto.tipo_impuesto" class="form-control" name="tipo_impuesto">
                            <option value="Gravada">Gravada</option>
                            <option value="Exenta">Exenta</option>
                            <option value="No Sujeta">No Sujeta</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="impuesto">Impuesto:</label>
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="number" class="form-control" [(ngModel)]="producto.impuesto" name="impuesto">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Control de Inventario </label>
                        <input type="checkbox" class="form-check" [(ngModel)]="producto.inventario" name="inventario" (change)="onSubmit()">
                    </div>
                    <div class="form-group col-md-2" *ngIf="producto.inventario">
                        <label for="bodega_venta_id">Bodega de venta :</label>
                        <select name="bodega_venta_id" [(ngModel)]="producto.bodega_venta_id" class="form-control form-select">
                            <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Producto compuesto </label>
                        <input type="checkbox" class="form-check" [(ngModel)]="producto.compuesto" name="compuesto" (change)="onSubmit()">
                    </div>             
                    
                   
                    <div class="form-group col-md-12">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="Descripcion" placeholder="Descripción" required>
                    </div>

                    <div class="col-md-12">
                        <br><br>
                        <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                        <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                        </button>
                    </div>
                </form>
              </div>
            </div>

            <div class="tab-pane fade no-padding" id="inventarios" *ngIf="producto.id && producto.inventario && producto.categoria_id != 1">
                <app-producto-inventarios [producto]='producto'></app-producto-inventarios>
            </div> 

            <div class="tab-pane fade no-padding" id="composicion" *ngIf="producto.id && producto.compuesto && producto.categoria_id != 1">
                <app-producto-composicion  [producto]='producto'></app-producto-composicion>
            </div>

            <div class="tab-pane fade no-padding" id="promociones" *ngIf="producto.id && producto.categoria_id != 1">
                <app-producto-promociones  [producto]='producto'></app-producto-promociones>
            </div>

            <div class="tab-pane fade no-padding" id="compras" *ngIf="producto.id">
                <app-producto-compras></app-producto-compras>
            </div>

            <div class="tab-pane fade no-padding" id="precios" *ngIf="producto.id">
                <app-producto-precios></app-producto-precios>
            </div>
        </div>
      </div>
    </div>

</div>

</section>

</div>  
