<div class="container">

<section class="content-header">
    <h1> Empresa <small> Información</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Empresa</li>
    </ol>
</section>

<section class="content animated fadeIn" *ngIf="empresa.nombre">

<div class="row">

    
    <div class="col-md-12">

      
      <div class="box box-primary">
        <div class="box-body box-profile">
            <br>
            <img class="profile-user-img img-responsive img-circle" src="assets/img/empresas/{{empresa.logo}}" alt="User profile picture">
            <br>
            <h3 class="profile-username text-center">{{ empresa.nombre }}</h3>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#settings" data-toggle="tab"><i class="fa fa-info-circle"></i> Información</a></li>
          <li><a href="#activity" data-toggle="tab"><i class="fa fa-cog"></i> Configuraciones</a></li>
          <li><a href="#timeline" data-toggle="tab"><i class="fa fa-life-ring"></i> Soporte</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="settings">
                <div class="row">
                    <form name="form" (ngSubmit)="onSubmit()">
                        <div class="form-group col-sm-4">
                            <label for="nombre">* Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="nit">NIT:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.nit" name="nit" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="ncr">NCR:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.ncr" name="ncr" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="giro">Giro:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.giro" name="giro" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="correo">Correo:</label>
                            <input type="email" class="form-control" [(ngModel)]="empresa.correo" name="correo" placeholder="info@miempresa.com">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="municipio">Municipio:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.municipio" name="municipio" placeholder="Municipio">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="departamento">Departamento:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.departamento" name="departamento" placeholder="Departamento">
                        </div>
                        
                        <div class="col-xs-12">
                            <button [disabled]="loading" class="btn btn-primary pull-right">
                                <span *ngIf="!loading">Guardar</span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="activity">
                <div class="row">
                    <form name="form" (ngSubmit)="onSubmit()">
                        <div class="form-group col-sm-4">
                            <label for="meta_galones">Meta de galones:</label>
                            <input type="number" class="form-control" [(ngModel)]="empresa.meta_galones" name="meta_galones" placeholder="Meta mensual">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="valor_inventario">Valor de inventario:</label>
                            <select class="form-control" [(ngModel)]="empresa.valor_inventario" name="valor_inventario">
                                <option value="Promedio">Promedio</option>
                                <option value="Última compra">Última compra</option>
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <button [disabled]="loading" class="btn btn-primary pull-right">
                                <span *ngIf="!loading">Guardar</span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>  
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="timeline">
                <div class="row text-center">
                    <h4>Ponte en contacto con nosotros.</h4>
                    <a href="http://websis.me/contactos" class="btn btn-default" target="_blank">Página web</a>
                    <a href="https://api.whatsapp.com/send?phone=50378912933" class="btn btn-success" target="_blank">(+503) 7891-2933</a>
                    <a href="https://m.me/websis.me" class="btn btn-primary" target="_blank">Fanpage</a>
                    <a href="mailto:info@websis.me" class="btn btn-danger" target="_blank">info@websis.me</a>
                    <br>
                    <h4>Documentación.</h4>
                    <a href="{{ apiService.baseUrl + '/manual-usuario.pdf' }}" class="btn btn-default" target="_blank">Manual de Usuario</a>
                </div>
            </div>

        </div>
      </div>
    </div>

</div>

</section>

<section class="content" *ngIf="!empresa.nombre">
    <div class="row">
        <div class="text-muted text-center thumbler">
          Cargando...
        </div>
    </div>
</section>

</div>
