<input id="cliente" type="text" class="form-control tcla-F6" [(ngModel)]="cliente.nombre" name="cliente" placeholder="Nombre" (focus)="openModal(mcliente)">

<ng-template #mcliente>
  <div class="modal-header text-center">
    <h3 class="modal-title">Cliente</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="selectCliente(cliente)">
    <div class="row">
        
        <div class="form-group col-sm-12">
            <label for="cantidad">* Registro:</label>
            <form autocomplete="off" class="buscador">
                <input id="cliente" type="text" name="cliente.registro" class="form-control" placeholder="xxxx-x" [(ngModel)]="cliente.registro" focus="true" id="example" (blur)="clear()">
                <ul class="list-group info">
                  <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                  <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && clientes?.data?.length == 0"> Ningun registro encontrado </a>
                </ul>
                <ul class="list-group opciones" *ngIf="clientes?.total > 0">
                  <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(cliente)" *ngFor=" let cliente of clientes?.data">
                    {{cliente.registro}} - <small>{{cliente.nombre}}</small>
                  </a>
                </ul>
            </form>
        </div>

        <div class="form-group col-sm-6">
            <label for="nombre">* Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" >  
        </div>
        <div class="form-group col-sm-6">
            <label for="giro">Giro:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
        </div>
        <div class="form-group col-sm-6">
            <label for="nit">NIT:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxxx-xxxxxx-xxx-x">
        </div>
        <div class="form-group col-sm-6">
            <label for="nit">DUI:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <div class="form-group col-sm-6">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" [dropSpecialCharacters]="false" name="telefono" mask='0000-0000' placeholder="0000-0000">
        </div>
        <div class="form-group col-sm-6">
            <label for="municipio">Municipio:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
        </div>
        <div class="form-group col-sm-6">
            <label for="departamento">Departamento:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
        </div>
        <div class="form-group col-sm-6">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Dirección">
        </div>
    </div>
    <div class="row text-center mr-top">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!cliente.registro || !cliente.nombre" > Agregar </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>