<div class="container">
    
<section class="content-header">
    <h1> Devolución <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/devoluciones-ventas']">Devoluciones</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Cliente -->
            <div class="row mr-top">
                <div class="col-xs-8">
                    <p>
                        <b>Fecha:</b> {{venta.created_at | date:'dd-mm-yyyy hh:mm:ss'}}
                        <b class="mr">Vendedor:</b> {{venta.usuario}}
                        <b class="mr">Cliente:</b> {{venta.cliente_nombre}}
                    </p>
                </div>
                <div class="col-xs-4">
                    <h2 class="text-right no-margin no-padding" style="margin-top: -10px !important;">
                        <span class="label label-primary">Total: {{ venta.total | currency:'USD':'symbol':'1.2'}}</span>
                    </h2>
                </div>
            </div>

            <!-- Tabla -->
            <div class="row mr-top">
                <div class="col-xs-12 min-heigth-m">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Codigo</th>
                                <th>Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">U/M</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let de of detalles">
                                <td class="text-center" style="width: 100px;">{{ de.producto_id }}</td>
                                <td>{{ de.producto_nombre }}</td>
                                <td class="text-center">{{ de.medida }}</td>
                                <td class="text-center">{{ de.cantidad | number:'1.1' }}</td>
                                <td class="text-center" style="width: 150px;">{{ de.precio | currency:'USD':symbol:'1.2'}}</td>
                                <td class="text-center" style="width: 150px;">
                                    {{ de.total | currency:'USD':symbol:'1.2'}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="venta.total">
                            <tr>
                                <td colspan="5" class="text-right">
                                   <b>Total:</b>
                                </td>
                                <td class="text-center">
                                    <b>{{ venta.total | currency:'USD':symbol:'1.2'}}</b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <a href="javascript:window.history.back();" class="btn btn-default">
                        <i class="fa fa-angle-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

</div>