<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Tanques <small>Niveles</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Tanques</li>
    </ol>
</section>

<section class="content animated fadeIn">
        <div class="row">
            <div class="col-md-4" *ngFor="let tanque of tanques">
                

                <div class="panel panel-default">
                  <!-- Default panel contents -->
                    <div class="panel-heading text-center">
                        <h4>
                            <small class="label" [ngClass]="{ 'label-danger' : tanque.producto_id == 1, 'label-warning' : tanque.producto_id == 2, 'label-success' : tanque.producto_id == 3 }">
                            {{ tanque.nombre }}
                            </small>
                        </h4>

                        <div class="btn-group" role="group" style="position: absolute;right: 20px; top: 5px;">
                            <a (click)="openModal(mtanque, tanque)" class="btn btn-default" tooltip="Editar">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a (click)="openModalAjuste(majuste, tanque)" class="btn btn-default" tooltip="Ajustar stock">
                                <i class="fa fa-tasks"></i>
                            </a>
                            <a (click)="openModalAjustes(majustes, tanque)" class="btn btn-default" tooltip="Ver últimos ajustes">
                                <i class="fa fa-chart-line"></i>
                            </a>
                        </div>
                    </div>
                  <div class="panel-body text-center">
                    <table class="table table-bordered text-center no-margin">
                        <thead>
                            <tr> <th>Stock Actual</th> <th>Stock Min</th> <th>Capacidad</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ tanque.stock | number}} Gal</td>
                                <td>{{ tanque.stock_min | number}} Gal</td>
                                <td>{{ tanque.stock_max | number}} Gal</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <progressbar class="progress active" [value]="tanque.stock" [max]="tanque?.stock_max" [type]="tanque.tipo">
                                        {{ ((tanque?.stock / tanque?.stock_max) * 100).toFixed(2) }} %
                                    </progressbar>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>

            </div>
        </div>
</section>

</div>

<ng-template #mtanque>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tanque</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="nombre">* Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="tanque.nombre" name="nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="producto">* Producto:</label><br>
                <select name="producto_id" [(ngModel)]="tanque.producto_id" class="form-control">
                    <option value="1">Super</option>
                    <option value="2">Regular</option>
                    <option value="3">Diesel</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="stock_min">* Stock Minimo:</label><br>
                <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="tanque.stock_min" name="stock_min">
                    <span class="input-group-addon">Galones</span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="stock_max">* Capacidad:</label><br>
                <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="tanque.stock_max" name="stock_max">
                    <span class="input-group-addon">Galones</span>
                </div>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !tanque.nombre || !tanque.producto_id || !tanque.stock || !tanque.stock_min || !tanque.stock_max">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #majuste>
  <div class="modal-header">
    <h3 class="modal-title text-center">Ajuste</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
        <div class="row text-center">

            <div class="form-group col-xs-12">
                <label for="stock_inicial">Stock Actual:</label>
                <p> {{ ajuste.stock_inicial}} Gal</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="stock_final">Stock Real:</label>
                <div class="input-group">
                    <input type="number" min="1" class="form-control" [(ngModel)]="ajuste.stock_final" name="stock_final" focus="true">
                    <span class="input-group-addon">Galones</span>
                </div>
            </div>
            
            <div class="form-group col-xs-12">
                <label for="ajuste">Ajuste:</label>
                <p *ngIf="ajuste.stock_final"> {{ ajuste.stock_final - ajuste.stock_inicial | number:'2.2'}} Gal</p>
                <p *ngIf="!ajuste.stock_final"> 0 Gal</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="ajuste.nota" name="nota" placeholder="Nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_final">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>

<ng-template #majustes>
  <div class="modal-header">
    <h3 class="modal-title text-center">Ajustes</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

        <div class="row"  *ngIf="datasets.length">
            <div class="col-xs-6" style="position: relative; height:200px; width: 100%;">
                <canvas baseChart
                        [datasets]="datasets"
                        [labels]="labels"
                        [options]="options"
                        [colors]="colors"
                        [chartType]="type">
                </canvas>
            </div>
        </div>
        <div class="row text-center animated fadeIn" *ngIf="!datasets.length">
            <div class="text-muted text-center thumbler">
              <i class="fa fa-pie-chart fa-5x"></i>
              <br>
              Sin datos
            </div>
        </div>

  </div>
</ng-template>