<div class="container">

<section class="content-header">
    <h1> Materias primas <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Materias primas</li>
    </ol>
</section>
<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default"> Registros: {{ materiasprimas?.total | number}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()" autocomplete="off">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && materiasprimas?.total" [nombre]="'Productos'"></app-descargar-excel>
                                <button routerLink="/materia-prima/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear" *ngIf="apiService.auth_user().tipo == 'Administrador'"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Medida</th>
                                <th class="text-center">Costo</th>
                                <!-- <th class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">Stock Bodega</th> -->
                                <th class="text-center">Stock</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="materiasprimas?.total < 1 && !loading">
                                    <span class="label label-info">No tiene materiasprimas registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let materiaprima of materiasprimas?.data" [ngClass]="{ 'bg-danger' : (materiaprima.stock_bodega + materiaprima.stock_venta) <= materiaprima.min_bodega }">
                                
                                <td class="text-center">{{ materiaprima.id }}</td>
                                <td><a routerLink="/materia-prima/{{ materiaprima.id }}">{{ materiaprima.nombre  | truncate:30 }}</a></td>
                                <td class="text-center">{{ materiaprima.categoria }}</td>
                                <td class="text-center">{{ materiaprima.medida }}</td>
                                <td class="text-center">
                                    <a *ngIf="apiService.auth_user().tipo == 'Administrador'" (click)="openModalPrecio(mprecio, materiaprima)" tooltip="Cambiar precio">
                                        {{ materiaprima.costo | currency:'USD':'symbol':'1.2' }}
                                    </a>
                                    <span *ngIf="apiService.auth_user().tipo != 'Administrador'">
                                        {{ materiaprima.costo | currency:'USD':'symbol':'1.2' }}
                                    </span>
                                </td>
                                <!-- <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                                    <span *ngIf="materiaprima.inventario">{{ materiaprima.stock_bodega }}</span>
                                    <span *ngIf="!materiaprima.inventario">---</span>
                                </td> -->
                                <td class="text-center">
                                    <span *ngIf="materiaprima.inventario">{{ materiaprima.stock_venta }}</span>
                                    <span *ngIf="!materiaprima.inventario">---</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a *ngIf="apiService.auth_user().tipo == 'Administrador'" class="btn btn-default" (click)="delete(materiaprima.id)" tooltip="Eliminar">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a *ngIf="apiService.auth_user().tipo == 'Administrador'" class="btn btn-default" routerLink="/producto/kardex/{{ materiaprima.id }}" tooltip="Cardex">
                                            <i class="fa fa-list-alt"></i>
                                        </a>
                                        <a class="btn btn-default" routerLink="/materia-prima/{{ materiaprima.id }}" tooltip="Editar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="materiasprimas?.last_page > 1">
                        <app-pagination [items]="materiasprimas" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.categoria_id">Categoria:</label>
                <select [(ngModel)]="filtro.categoria_id" class="form-control" name="filtro.categoria_id">
                    <option value="">Todos</option>
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_bodega">Inventario bajo en Bodega:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_bodega" class="form-check" name="filtro.stock_bodega">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_venta">Inventario bajo en Sala Venta:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_venta" class="form-check" name="filtro.stock_venta">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.sin_control_inventario">Sin control de inventario:</label>
                <input type="checkbox" [(ngModel)]="filtro.sin_control_inventario" class="form-check" name="filtro.sin_control_inventario">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.sin_condigo">Sin código de barras:</label>
                <input type="checkbox" [(ngModel)]="filtro.sin_condigo" class="form-check" name="filtro.sin_condigo">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mprecio>
  <div class="modal-header">
    <h2 class="modal-title text-center">{{ materiaprima.nombre}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
  
            <div class="form-group col-md-12">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control text-center" [(ngModel)]="materiaprima.precio" name="precio" placeholder="Precio" focus="true">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !materiaprima.precio">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>