<div class="container">
    
<section class="content-header">
    <h1> Devolución <small> a proveedores</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/compras">Devolución</a></li>
        <li class="active"> a proveedores</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Proveedor -->
            <div class="row">
                <app-compra-proveedor [proveedor]="compra.proveedor" [compra]="compra" (proveedorSelect)="proveedorSelect($event)"></app-compra-proveedor>
            </div>

           <!--  <div class="row mr-top">
                <div class="col-md-12 text-center">                        
                    <app-compra-gasolina (productoSelect)="productoSelect($event)"></app-compra-gasolina>
                    <app-compra-producto (productoSelect)="productoSelect($event)"></app-compra-producto>
                </div>
            </div> -->

            <!-- Tabla -->
            <div class="row mr-top">
                <div class="col-md-12">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 100px;"></th>
                                <th style="width: 50px;" class="text-center">#</th>
                                <th>Producto</th>
                                <th style="width: 75px;" class="text-center">U/M</th>
                                <th style="width: 100px;" class="text-center">Cantidad</th>
                                <th style="width: 100px;" class="text-center">Costo</th>
                                <th style="width: 100px;" class="text-center">Total</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12" id="detalles" style="min-height: 350px; max-height: 350px; overflow-y: auto;">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <tbody>
                            <tr *ngFor="let de of compra?.detalles; let i = index">
                                <td style="width: 100px;" class="text-center" >
                                    <a *ngIf="!de.id" class="btn btn-danger" (click)="eliminarDetalle(de)"><i class="fa fa-minus"></i>
                                    </a>
                                    <a *ngIf="!de.id" class="btn btn-default" (click)="editarDetalle(mproducto, de)"><i class="fa fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td style="width: 50px;" class="text-center">{{ i + 1 }}</td>
                                <td>{{ de.producto_nombre }}</td>
                                <td style="width: 75px;" class="text-center">{{ de.medida }}</td>
                                <td style="width: 100px;" class="text-center">{{ de.cantidad }}</td>
                                <td style="width: 100px;" class="text-center">{{ de.costo | currency:'USD':symbol:'1.4'}}</td>
                                <td style="width: 100px;" class="text-center">{{ de.subtotal | currency:'USD':symbol:'1.2'}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="compra?.detalles?.length > 0" class="table-condenced">
                            <tr>
                                <td colspan="6" class="text-right"> Sub Total: </td>
                                <td class="text-center"> {{ compra.subtotal | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right"> IVA: </td>
                                <td class="text-center"> {{ compra.iva | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <!-- <tr>
                                <td colspan="6" class="text-right"> FOVIAL </td>
                                <td class="text-center"> {{ (compra.fovial) | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right"> COTRANS </td>
                                <td class="text-center"> {{ (compra.cotrans) | currency:'USD':symbol:'1.2'}} </td>
                            </tr> -->
                            <tr>
                                <td colspan="6" class="text-right"> <b>Total:</b> </td>
                                <td class="text-center"><b> {{ compra.total | currency:'USD':symbol:'1.2'}}</b> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    
                    <button (click)="openModal(mproducto)" class="btn btn-danger tcla-F4" tooltip="Crear">
                        <i class="glyphicon glyphicon-list-alt"></i> Producto <small>(F4)</small>
                    </button>

                    <button (click)="openModal(mguardar)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary pull-right tcla-F10" style="margin-left: 15px;">
                        <i class="fa fa-save"></i> 
                        <span *ngIf="!loading"> Guardar <small>(F10)</small></span>
                        <span *ngIf="loading"> Guardando...</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>

</div>


<ng-template #mproducto>
  <div class="modal-header text-center">
    <h3 class="modal-title">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="producto" autocomplete="off" (ngSubmit)="agregarDetalle()">
        <app-buscador-productos (setProducto)="selectProducto($event)"></app-buscador-productos>
        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalle.cantidad" (change)="calcular()">
        </div>

        <div class="row">
            <div class="col-md-12 mr-top">
                <button type="submit" [disabled]="!detalle.producto_id || !detalle.cantidad || !detalle.costo" class="btn btn-primary pull-right"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mguardar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Devolución</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha">
            </div>
            <div class="form-group col-sm-12">
                <label for="estado">Estado:</label>
                <select class="form-control" [(ngModel)]="compra.estado" name="estado" focus="true">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Entregado a bodega">Entregado a bodega</option>
                    <option value="Entregado a proveedor">Entregado a proveedor</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia">
            </div>
            <div class="form-group col-sm-12">
                <label for="recibio">Recibió:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.recibio" name="recibio">
            </div>
            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.nota" name="nota">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>