<section class="text-center d-flex align-middle" style="height: 100vh; background-color: #e2e2e2;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;">
    <form class="form-signin" (submit)="submit()"><div class="login-box header-filter" style="background-image: url('assets/img/bg.jpeg'); background-size: cover; background-position: center center; height: 100vh; overflow: hidden;">

<div class="container">
   
   <div class="row animated fadeIn" style="margin-top: 50px;">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="login-logo login-box-body">
          <a [routerLink]="['/']"><img src="assets/img/logo.png" width="50" alt="Logo Wgas - Websis"> W<b>gas</b></a>
        </div>

        <div class="login-box-body">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center no-margin">{{ saludo }}</h2>
                    <p class="login-box-msg text-info">Bienvenido</p>

                    <form name="form" autocomplete="off" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
                        
                        <div class="form-group form-group-lg has-feedback" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="Usuario" required focus="true"/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <!-- <div *n    gIf="f.submitted && !username.valid" class="help-block text-danger">Requerido</div> -->
                        </div>

                        <div class="form-group form-group-lg has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Contraseña" #password="ngModel" required />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" [disabled]="loading" class="btn btn-lg btn-primary btn-block">
                                <span *ngIf="!loading">Entrar</span>
                                <span *ngIf="loading">Cargando...</span>
                            </button>
                        </div>
                      
                    </form>
                </div>
                <!-- <a [routerLink]="['/registro']" class="btn">O Registrate</a> -->
                <!-- <div class="col-xs-12 text-center">
                    <p class="no-margin text-muted">Use estos datos para ingresar al sistema en modo prueba.</p>
                    <p class="no-margin text-muted"><b>Administrador:</b> Correo: admin@admin.com  y contraseña: admin</p>
                    <p class="no-margin text-muted"><b>Caja:</b> Correo: emple@emple.com y contraseña: emple</p>
                    <br>
                    <p class="no-margin text-muted">Los datos que contiene el sistema no son reales y fueron generados automáticamente únicamente para demostración.</p>
                </div> -->
            </div>
        </div>
    </div>
    </div>
</div>

</div>
</form>


</section>