<div class="container">
  
<section class="content-header">
    <h1> {{ saludo }} <small>{{ usuario.name }}</small> </h1>
</section>

<section class="content animated fadeIn">

    <app-admin *ngIf="usuario.tipo == 'Administrador'"></app-admin>
    <app-caja *ngIf="usuario.tipo == 'Empleado'"></app-caja>
    
</section>


</div>
