<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Caja <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/admin/cajas">Cajas</a></li>
        <li class="active">Caja</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row" *ngIf="!loading || caja.id">
    
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">{{ caja.tipo }}: {{ caja.nombre }}</h3>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li [ngClass]="{'active' : !caja.id }"><a href="#datos" data-toggle="tab" *ngIf="apiService.auth_user().tipo == 'Administrador'"><i class="fa fa-info-circle"></i> Datos</a></li>
          <li [ngClass]="{'active' : apiService.auth_user().tipo == 'Empleado'}"><a href="#documentos" data-toggle="tab" *ngIf="caja.id"><i class="fa fa-cog"></i> Documentos</a></li>
          <li [ngClass]="{'active' : apiService.auth_user().tipo == 'Administrador'}"><a href="#cortes" data-toggle="tab" *ngIf="caja.id && apiService.auth_user().tipo == 'Administrador'"><i class="fa fa-inbox"></i> Cortes</a></li>
          <!-- <li><a href="#estadisticas" data-toggle="tab" *ngIf="caja.id && apiService.auth_user().tipo == 'Administrador'"><i class="fa fa-chart"></i> Estadisticas</a></li> -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" [ngClass]="{'in active' : !caja.id}" id="datos">
              <div class="row">
                <form name="form" (ngSubmit)="onSubmitCaja()" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                    <div class="form-group col-sm-6">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="caja.nombre" name="nombre" placeholder="Nombre" required focus="true">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tipo">* Tipo:</label>
                        <select [(ngModel)]="caja.tipo" class="form-control" name="tipo">
                            <option value="Gasolinera">Gasolinera</option>
                            <option value="Tienda">Tienda</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="descripcion">Descripción:</label>
                        <input type="email" class="form-control" [(ngModel)]="caja.descripcion" name="descripcion" placeholder="Descripción">
                    </div>
                    <div class="col-xs-12">
                      <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                      <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                      </button>
                    </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{'in active' : apiService.auth_user().tipo == 'Empleado'}" id="documentos" *ngIf="caja.id">
                <div class="row">
                    <div class="col-sm-12">
                        <app-caja-documentos [caja]="caja"></app-caja-documentos>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" [ngClass]="{'in active' : apiService.auth_user().tipo == 'Administrador'}" id="cortes" *ngIf="caja.id && apiService.auth_user().tipo == 'Administrador'">
                <div class="row">
                    <div class="col-sm-12">
                        <app-caja-cortes></app-caja-cortes>
                    </div>
                </div>
            </div> 
            <!-- <div class="tab-pane fade" id="estadisticas" *ngIf="caja.id && apiService.auth_user().tipo == 'Administrador'">
                <div class="row">
                    <div class="col-sm-12">
                        <app-caja-estadisticas></app-caja-estadisticas>
                    </div>
                </div>
            </div>   -->        
        </div>
      </div>
    </div>

</div>

<div class="row" *ngIf="loading && !caja.id">
  <p class="text-center mr-top">Cargando...</p>
</div>

</section>

</div>  
