<form name="form" autocomplete="off">
    <div class="input-group">
        <input id="lector" type="text" name="codigo" class="form-control" placeholder="Codigo de producto" [(ngModel)]="codigo" focus="true" (focus)="codigo = ''">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="codigo = ''">(F5)</button>
        </span>
    </div>
</form>

<ng-template #mproductos>
  <div class="modal-header">
    <h3 class="modal-title text-center">Productos</h3>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 mr-top" style="max-height: 350px; overflow-y: auto;">
                <a *ngIf="productos?.length < 1 && !loading" href="javascript:void(0);" class="list-group-item text-center min-height">
                    <!-- <span class="label label-info">Busque productos por su nombre o codigo</span> -->
                    <br><br>
                    <i class="fa fa-cubes fa-5x text-muted"></i>
                    <br><br>
                  </a>
                <a *ngIf="productos?.length < 1 && loading" href="javascript:void(0);" class="list-group-item text-center">
                  <span class="label label-info">Cargando...</span>
                </a>
                <ul class="list-group" *ngIf="productos?.length > 0">
                  <a href="javascript:void(0);" (click)="agregarDetalle(producto)" class="list-group-item" *ngFor=" let producto of productos ; let i = index">
                    <span class="badge" style="background-color: #f44336;" *ngIf="producto.promocion">{{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <span class="badge">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <b style="margin-right: 15px;">{{producto.nombre}}</b> 
                    <small class="text-muted">{{producto.categoria}}</small>
                  </a>
                </ul>
            </div>
        </div>
  </div>
</ng-template>