<div class="row mr-top" >
    <div class="col-xs-12">
        <table class="table table-bordered" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th style="width: 100px;"></th>
                    <th style="width: 50px;" class="text-center">#</th>
                    <th>Producto</th>
                    <th style="width: 100px;" class="text-center">Cantidad</th>
                    <th style="width: 100px;" class="text-center">Precio</th>
                    <th style="width: 100px;" class="text-center">Descuento</th>
                    <th style="width: 100px;" class="text-center">Subtotal</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-xs-12" id="detalles" style="min-height: 350px; max-height: 350px; overflow-y: auto;">
        <table class="table table-bordered" style="margin-bottom: 0px;">
            <tbody>
                <tr *ngIf="venta?.detalles?.length < 1">
                    <td colspan="7" class="text-center">
                        <br><br>
                        <i class="glyphicon glyphicon-inbox fa-5x text-muted"></i>
                        <br><br>
                    </td>
                </tr>
                <tr *ngFor="let detalle of venta?.detalles; let i = index">
                    <td style="width: 100px;" class="text-center">
                        <button *ngIf="!venta.id" class="btn btn btn-danger" (click)="eliminarDetalle(detalle)"> <i class="fa fa-minus"></i> </button>
                        <button *ngIf="venta.id && venta.estado == 'Pendiente'" class="btn btn btn-danger" (click)="modalSupervisor(detalle)"> <i class="fa fa-minus"></i> </button>
                        <button class="btn btn btn-success tcla-F7" (click)="openModalEdit(mcantidad, detalle)">
                          <i class="fa fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td style="width: 50px;" class="text-center">{{ i + 1 }}</td>
                    <td>{{ detalle.producto_nombre }}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.cantidad }}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.precio | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.descuento | currency:'USD':'symbol':'1.2'}} </td>
                    <td style="width: 100px;" class="text-center">
                        {{ detalle.total | currency:'USD':'symbol':'1.2'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #mcantidad>
  <div class="modal-header">
    <h3 class="modal-title text-center">Cantidad</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off" (ngSubmit)="setCantidad()">
            <div class="col-xs-12">
                <input type="number" [(ngModel)]="cantidad" name="cantidad" class="form-control text-center" placeholder="Cantidad" focus="true">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading || !cantidad">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>


<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>