<div class="container">

<section class="content-header">
    <h1> Cuentas por Pagar <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cuentas por Pagar</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="pagos?.total">Registros: {{pagos?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proveedor</th>
                                <th class="hidden-xs text-center">NIT</th>
                                <th class="hidden-xs text-center">NRC</th>
                                <th class="text-center">N° Documentos</th>
                                <th class="text-center">Saldo pendiente</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td colspan="8" class="text-center" *ngIf="pagos?.total < 1 && !loading">
                                    <span class="label label-info">No tiene pagos pendientes</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let proveedor of pagos?.data">
                                
                                <td class="hidden-xs">{{proveedor.nombre}}</td>
                                <td class="text-center">{{proveedor.nit}}</td>
                                <td class="hidden-xs">{{proveedor.registro}}</td>
                                <td class="text-center">{{proveedor.num_compras_pendientes}}</td>
                                <td class="text-center">{{proveedor.pago_pendiente | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/proveedor/{{ proveedor.id }}/Pendiente" tooltip="Pagar">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="pagos?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="pagos" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>