.large{
    font-size: 60px;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none;
    padding-top: 25px;
    color: #fff;
}

.navbar {
    background-color: #FFA500 !important;
    background: linear-gradient(45deg ,rgb(255, 165, 0),rgb(125,46,185)) !important;
    background: -webkit-linear-gradient(135deg ,rgb(255, 165, 0),rgb(125,46,185)) !important;
    color: #fff;
}


.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: rgba(255, 165, 0,.9);
    background: linear-gradient(45deg ,rgba(255, 165, 0,.95),rgba(125,46,185,.9));
    background: -webkit-linear-gradient(135deg ,rgba(255, 165, 0,.95),rgba(125,46,185,.9));
}

.color-filter{
    background: linear-gradient(45deg ,rgba(255, 165, 0,.6),rgba(125,46,185,.6));
    background: -webkit-linear-gradient(135deg ,rgba(255, 165, 0,.6),rgba(125,46,185,.6));
}

.h5, h5 {
    font-size: 1.2rem;
}

p {
    font-size: 18px;
}

footer ul li a {
    font-size: 14px;
}

.main-raised{
    margin: -60px 90px 0;
}

@media (max-width: 830px){
    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}