<div class="text-center">
    <form name="form" (ngSubmit)="onFiltrar()" class="form-inline mr-top">
        <div class="form-group">
            <label for="">Del:</label>
            <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
        </div>
        <div class="form-group">
            <label for="" style="margin: 0px 10px;">Al:</label>
            <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
        </div>
        <div class="form-group">
            <label for="" style="margin: 0px 10px;">Usuario:</label>
            <select [(ngModel)]="filtro.usuario_id" class="form-control" name="usuario_id">
                <option value="">Todos</option>
                <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                    {{ usuario.name }} - {{ usuario.caja }}
                </option>
            </select>
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            <!-- <button type="button" (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button> -->
        </div>
    </form>
</div>

<div class="table-responsive no-padding mr-top">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <!-- <th class="hidden-xs">Abrió</th> -->
                <!-- <th class="hidden-xs">Cerro</th> -->
                <th class="hidden-xs">Fecha</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th class="text-center">Monto Inicial</th>
                <th class="text-center">Venta</th>
                <th class="text-center">Monto Final</th>
                <th class="text-center"><i class="fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="9" class="text-center" *ngIf="cortes?.total < 1 && !loading">
                    <span class="label label-info">No tiene cortes registrados</span>
                </td>
                <td colspan="9" class="text-center" *ngIf="loading">
                    <span class="label label-info">Cargando...</span>
                </td>
            </tr>

            <tr class="animated fadeIn" *ngFor=" let corte of cortes?.data">
                
                <!-- <td class="hidden-xs">{{corte.apertura | date:'dd-MM h:mm a'}}</td> -->
                <!-- <td class="hidden-xs">{{corte.cierre ? (corte.cierre | date:'dd-MM h:mm a') : 'Actual'}}</td> -->
                <td class="hidden-xs">{{corte.fecha | date:'dd-MM-yyyy'}}</td>
                <td>{{corte.usuario}}</td>
                <td><span class="label"  [ngClass]="{'label-danger' : corte.estado == 'Cerrada','label-success' : corte.estado == 'Abierta' }" >{{ corte.estado }}</span></td>
                <td class="text-center">{{corte.saldo_inicial | currency:'USD':'symbol':'1.2'}}</td>
                <td class="text-center">{{corte.total_ventas | currency:'USD':'symbol':'1.2'}}</td>
                <td class="text-center">{{(corte.saldo_inicial * 1) + (corte.total_ventas * 1) | currency:'USD':'symbol':'1.2'}}</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a (click)="print(corte)" class="btn btn-default" tooltip="Imprimir">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>  
                </td>

            </tr>
        </tbody>
    </table>
    <div class="text-center" *ngIf="cortes?.last_page > 1">
        <app-pagination [items]="cortes" (setPagination)="setPagination($event)"></app-pagination>
    </div>
</div>
