
<ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/facturacion/nueva">Facturación</a> </li>
    <li routerLinkActive="active"><a routerLink="/ventas">Ventas</a> </li>
    <li routerLinkActive="active"><a routerLink="/devoluciones/ventas">Devoluciones</a> </li>
    <li routerLinkActive="active"><a routerLink="/traslados">Traslados</a> </li>
    <li routerLinkActive="active" *ngIf="usuario.caja == 'Gasolinera'"><a routerLink="/contabilidad/galonaje">Galonaje</a> </li>
</ul>
