<div class="container">

<section class="content-header">
    <h1> Inventario de Bodega <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Inventario de Bodega</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="bodegaP?.total">Productos: {{bodegaP?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'"> <i class="fa fa-filter"></i> </button>
                                <a target="_blank" href="{{ this.apiService.baseUrl + '/api/reporte/bodegas/1?token=' + this.apiService.auth_token()}}" class="btn btn-default" tooltip="Imprimir">
                                    <i class="fa fa-print"></i>
                                </a>
                                <app-descargar-excel *ngIf="filtrado && bodegaP?.total" [nombre]="'Productos'"></app-descargar-excel>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th class="hidden-sm hidden-xs text-center">U. Medida</th>
                                <th class="hidden-sm hidden-xs text-center">Categoria</th>
                                <th class="text-center">Stock Min</th>
                                <th class="text-center">Stock Actual</th>
                                <th class="text-center">Stock Max</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="bodegaP?.total < 1 && !loading">
                                    <span class="label label-info">No tiene bodega registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let bodega of bodegaP?.data" [ngClass]="{ 'bg-danger' : bodega.stock * 1 < bodega.stock_min * 1 }">
                                
                                <td class="text-center">{{ bodega.producto_id }}</td>
                                <td><a routerLink="/producto/'{{ bodega.producto_id }}">{{ bodega.producto.nombre }}</a></td>
                                <td class="hidden-sm hidden-xs text-center">{{ bodega.producto.medida }}</td>
                                <td class="hidden-sm hidden-xs text-center">{{ bodega.producto.categoria }}</td>
                                <td class="text-center">{{ bodega.stock_min | number:'1.2'}}</td>
                                <td class="text-center"> {{ bodega.stock | number:'1.2'}} </td>
                                <td class="text-center">{{ bodega.stock_max | number:'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default"  (click)="openModal(mbodega, bodega)" tooltip="Editar">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-default"  (click)="openModalAjuste(majuste, bodega)" tooltip="Ajuste">
                                            <i class="glyphicon glyphicon-tasks"></i>
                                        </a>
                                        <a class="btn btn-default" routerLink="/producto/kardex/{{ bodega.producto_id }}" tooltip="Cardex">
                                            <i class="fa fa-list-alt"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="bodegaP?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="bodegaP" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<ng-template #mbodega>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{producto.producto.nombre}}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-6">
            <label for="nota">Stock Minimo:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.stock_min" name="nota" placeholder="Stock minimo" focus="true">
        </div>
        <div class="form-group col-sm-6">
            <label for="stock_max">Stock deseado:</label>
            <input type="number" name="stock_max" [(ngModel)]="producto.stock_max" placeholder="Stock deseado" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.ubicacion" name="ubicacion" placeholder="Ubicación">
        </div>
        
        <br><br>
        <div class="col-xs-12 mr-top">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !producto.stock_min || !producto.producto_id">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </form>
    </div>
  </div>
</ng-template>

<ng-template #majuste>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.producto.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
        <div class="row text-center">

            <div class="form-group col-xs-12">
                <label for="stock_inicial">Stock Actual:</label>
                <p> {{ ajuste.stock_inicial}}</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="stock_final">Stock Real:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="ajuste.stock_final" name="stock_final" focus="true">
            </div>
            
            <div class="form-group col-xs-12">
                <label for="ajuste">Ajuste:</label>
                <p *ngIf="ajuste.stock_final"> {{ ajuste.stock_final - ajuste.stock_inicial }}</p>
                <p *ngIf="!ajuste.stock_final"> 0</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="ajuste.nota" name="nota" placeholder="Nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_inicial || !ajuste.stock_final">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.categorias_id">Seleccione una o más categorias:</label>
                <p>
                    <input type="radio" name="categorias" (click)="filtro.categorias_id = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]">Tienda &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="categorias" (click)="filtro.categorias_id = [1,16,17,18,19]">Gasolinera
                </p>
                <select [(ngModel)]="filtro.categorias_id" class="form-control" name="filtro.categorias_id" multiple style="height: 250px;">
                    <option value="">Todos</option>
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                        {{ categoria.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_bodega">Inventario bajo:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_bodega" class="form-check" name="filtro.stock_bodega">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>