<div class="container">

<section class="content-header">
    <h1> Ajustes <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Ajustes</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="ajustes?.total">Registros: {{ajustes?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Fecha</th>
                                <th>Producto</th>
                                <th class="hidden-sm text-center">Stock Inicial</th>
                                <th class="hidden-sm text-center">Stock Final</th>
                                <th class="text-center">Ajuste</th>
                                <th class="text-center">Ubicación</th>
                                <th class="text-center">Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="9" class="text-center" *ngIf="ajustes?.total < 1 && !loading">
                                    <span class="label label-info">No tiene ajustes registrados</span>
                                </td>
                                <td colspan="9" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let ajuste of ajustes?.data">
                                
                                <td class="text-center">{{ ajuste.id }}</td>
                                <td>{{ ajuste.created_at | date:'dd-MM-yyyy' }}</td>
                                <td><a [routerLink]="['/producto/', ajuste.producto_id]">{{ ajuste.producto }}</a></td>
                                <td class="text-center hidden-sm">{{ ajuste.stock_inicial | number:'1.0'}}</td>
                                <td class="text-center hidden-sm">{{ ajuste.stock_final | number:'1.0'}}</td>
                                <td class="text-center">{{ ajuste.ajuste | number:'1.0'}}</td>
                                <td class="text-center">{{ ajuste.ubicacion }}</td>
                                <td class="text-center">{{ ajuste.usuario }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="ajustes?.last_page > 1">
                                <td colspan="9" class="text-center">
                                    <app-pagination [items]="ajustes" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>