
<div class="container">

<section class="content-header">
    <h1> Cliente <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/clientes"><i class="fa fa-users"></i> Clientes</a></li>
        <li class="active">Cliente</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row">
    
    <div class="col-sm-12">
      <!-- <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">{{ cliente.nombre }}</h3>
        </div>
      </div> -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs no-print">
          <li [ngClass]="{ 'active' : filtro.estado == '' }"><a href="#datos" data-toggle="tab"><i class="fa fa-info-circle"></i> Datos</a></li>
          <li [ngClass]="{ 'active' : filtro.estado == 'Pendiente' }" *ngIf="cliente.id"><a href="#ventas" data-toggle="tab"><i class="fa fa-money"></i> Ventas</a></li>
          <li [ngClass]="{ 'active' : filtro.estado == 'Anticipos' }" *ngIf="cliente.id"><a href="#anticipos" data-toggle="tab"><i class="fa fa-inbox"></i> Anticipos</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" [ngClass]="{ 'in active' : filtro.estado == '' }" id="datos">
              <div class="row">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-sm-6">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" required focus="true">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="registro">NRC:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.registro" name="registro" placeholder="xxxx-x">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nit">NIT:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxx-xxxxxx-xxx-x">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nit">DUI:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="giro">Giro:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" [dropSpecialCharacters]="false" mask='0000-0000' placeholder="0000-0000">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="descuento">Descuento <span tooltip="Se aplica al precio solo de gasolina"><i class="fa fa-info-circle"></i></span>:</label>
                        <input type="number" class="form-control" [(ngModel)]="cliente.descuento" name="descuento" placeholder="$ 0.0">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="tipo_contribuyente">Tipo de contribuyente:</label>
                        <select class="form-control" [(ngModel)]="cliente.tipo_contribuyente" name="tipo_contribuyente">
                            <option value="Pequeño">Pequeño</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="municipio">Municipio:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="departamento">Departamento:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="direccion">Dirección:</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Dirección">
                    </div>

                    <!-- <div class="form-group col-lg-6">
                        <label for="etiquetas">Etiquetas:</label>
                        <tag-input theme='bootstrap' [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
                    </div> -->
                    <div class="form-group col-lg-12">
                        <label for="nota">Nota:</label>
                        <input type="text" class="form-control" name="nota" [(ngModel)]="cliente.nota">
                    </div>
                    
                    <div class="col-xs-12">
                      <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                      <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                      </button>
                    </div>
                </form>
              </div>
            </div>

            <div class="tab-pane fade no-padding" [ngClass]="{ 'in active' : filtro.estado == 'Pendiente' }" id="ventas">
                <app-cliente-ventas></app-cliente-ventas>
            </div> 

            <div class="tab-pane fade no-padding" [ngClass]="{ 'in active' : filtro.estado == 'Anticipos' }" id="anticipos">
                <app-cliente-anticipos></app-cliente-anticipos>
            </div>
        </div>
      </div>
    </div>

</div>

</section>

</div>  