  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
      <li><a href="#ventas" data-toggle="tab">Top Combos</a></li>
      <li class="active"><a href="#productos" data-toggle="tab">Top productos </a></li>
      <li class="pull-left header"><i class="fa fa-chart-pie"></i> Estadisticas</li>
    </ul>
    <div class="tab-content no-padding">
      <!-- Morris - Sales -->
      <div class="tab-pane" id="ventas">
          <div class="box-body table-responsive no-padding min-heigth">
            <div class="box-body animated fadeIn" *ngIf="CchartData[0].data.length">
                <div class="row" style="width: 100%; margin: auto;">
                    <canvas baseChart
                            [datasets]="CchartData"
                            [labels]="CchartLabels"
                            [options]="chartOptions"
                            [legend]="chartLegend"
                            [colors]="chartColors"
                            [chartType]="chartType">
                    </canvas>
                </div>
            </div>
            <div class="box-body text-center animated fadeIn" *ngIf="!CchartData[0].data.length">
                <div class="text-muted text-center thumbler">
                  <i class="fa fa-chart-pie fa-5x"></i>
                  <br>
                  Sin datos
                </div>
            </div>

          </div>
      </div>
      <div class="tab-pane active" id="productos">
          <div class="box-body table-responsive no-padding min-heigth">
            <div class="box-body animated fadeIn" *ngIf="chartData[0].data.length">
                <div class="row" style="width: 100%; margin: auto;">
                    <canvas baseChart
                            [datasets]="chartData"
                            [labels]="chartLabels"
                            [options]="chartOptions"
                            [legend]="chartLegend"
                            [colors]="chartColors"
                            [chartType]="chartType">
                    </canvas>
                </div>
            </div>
            <div class="box-body text-center animated fadeIn" *ngIf="!chartData[0].data.length">
                <div class="text-muted text-center thumbler">
                  <i class="fa fa-chart-pie fa-5x"></i>
                  <br>
                  Sin datos
                </div>
            </div>

          </div>
      </div>
    </div>
  </div>