<div class="container">
    
<section class="content-header">
    <h1> Usuario <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content  animated fadeIn">
    <div class="row">
        <div class="col-md-12">
        
        <form name="form" (ngSubmit)="onSubmit()">
            <div class="box box-primary">
                
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" focus="true">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="username">Usuario:</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tipo">* Tipo:</label>
                        <select name="tipo" [(ngModel)]="usuario.tipo" class="form-control">
                        	<option value="Administrador">Administrador</option>
                        	<option value="Supervisor">Supervisor</option>
                            <option value="Empleado">Empleado</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="usuario.tipo == 'Supervisor'">
                        <label for="codigo">* Codigo:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="caja_id">* Caja:</label>
                        <select [(ngModel)]="usuario.caja_id" class="form-control" name="caja_id">
                            <option *ngFor="let caja of cajas" value="{{caja.id}}">
                                {{ caja.tipo }} - {{ caja.nombre }}
                            </option>
                        </select>
                    </div>
                    <p class="col-md-12" *ngIf="!usuario.id"><b>Nota:</b> La contraseña por defecto sera: emple, se sugiere cambiarla la primera vez que se inicie sesión</p>
                </div>

                <div class="box-footer">
                    <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                    <button [disabled]="loading" class="btn btn-primary pull-right">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

</div>