
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown me-3">
        <a class="nav-link" routerLink="/ordenes">Ordenes </a>
    </li>
    <li class="nav-item dropdown me-3">
        <a class="nav-link" routerLink="/dash/vendedor/productos">Productos </a>
    </li>
    <li class="nav-item dropdown me-3" *ngIf="usuario.caja_chica_id">
        <a class="nav-link" routerLink="/caja-chica/{{ usuario.caja_chica_id }}" >Caja chica</a>
    </li>
</ul>
