<div class="container">

<section class="content-header">
    <h1> Cuentas por Cobrar <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cuentas por Cobrar</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="clientes?.total">Registros: {{clientes?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th class="hidden-xs text-center">NIT</th>
                                <th class="hidden-xs text-center">NRC</th>
                                <th class="text-center">N° Documentos</th>
                                <th class="text-center">Saldo pendiente</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="clientes?.total < 1 && !loading">
                                    <span class="label label-info">No tiene clientes pendientes</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let cliente of clientes?.data">
                                
                                <td><a routerLink="/cliente/{{ cliente.id }}/Pendiente">{{cliente.nombre | truncate:30 }}</a></td>
                                <td class="text-center">{{cliente.nit}}</td>
                                <td class="text-center">{{cliente.registro}}</td>
                                <td class="text-center hidden-xs">{{cliente.num_ventas_pendientes}}</td>
                                <td class="text-center">{{cliente.pago_pendiente | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/cliente/{{ cliente.id }}/Pendiente" tooltip="Cobrar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="clientes?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="clientes" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>