<a (click)="openModal(mPromocion, {})" class="btn btn-primary pull-right" style="margin-bottom: 10px;">
    <i class="fa fa-plus"></i>
</a>
<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th rowspan="2" class="text-center"><i class="fa fa-cog"></i></th>
                <th rowspan="2">Precio</th>
                <th colspan="2" class="text-center">Inicia</th>
                <th colspan="2" class="text-center">Finaliza</th>
            </tr>
            <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" class="text-center" *ngIf="producto?.promociones?.length < 1 && !loading">
                    <span class="label label-info">No tiene promociones asignados</span>
                </td>
            </tr>

            <tr class="animated fadeIn" *ngFor=" let promocion of producto?.promociones">
                <td class="text-center">
                    <a (click)="deletePromocion(promocion)" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i></a>
                    <a (click)="openModal(mPromocion, promocion)" class="btn btn-default btn-sm"><i class="fa fa-pencil-alt"></i></a>
                </td>
                <td>{{ promocion.precio | currency:'USD':'symbol':'1.2' }}</td>
                <td class="text-center">{{ promocion.inicio | date:'dd-MM-yyyy' }}</td>
                <td class="text-center">{{ promocion.inicio | date:'hh:mm:ss a' }}</td>
                <td class="text-center">{{ promocion.fin | date:'dd-MM-yyyy' }}</td>
                <td class="text-center">{{ promocion.fin | date:'hh:mm:ss a' }}</td>

            </tr>
        </tbody>
    </table>
</div> 


<ng-template #mPromocion>
  <div class="modal-header">
    <h3 class="modal-title text-center">Promoción</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="precio">Precio:</label>
                <input type="number" name="precio" [(ngModel)]="promocion.precio" placeholder="Precio" class="form-control" focus="true">
            </div>

            <div class="form-group col-sm-12">
                <label for="inicio">Inicio:</label>
                <input type='text' id='datetimepicker1' class="form-control" name="promocion.inicio" #dateP1 [(ngModel)]="promocion.inicio" (blur)="promocion.inicio = dateP1.value"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="fin">Fin:</label>
                <input type='text' id='datetimepicker2' class="form-control" name="promocion.fin" #dateP2 [(ngModel)]="promocion.fin" (blur)="promocion.fin = dateP2.value"/>
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!promocion.precio || !promocion.inicio || !promocion.fin">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>