<div class="container">
    
<section class="content-header">
    <h1> Compra <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/compras">Compras</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Proveedor -->
            <div class="row">
                <app-compra-proveedor [proveedor]="compra.proveedor" [compra]="compra" (proveedorSelect)="proveedorSelect($event)"></app-compra-proveedor>
            </div>

           <!--  <div class="row mr-top">
                <div class="col-md-12 text-center">                        
                    <app-compra-gasolina (productoSelect)="productoSelect($event)"></app-compra-gasolina>
                    <app-compra-producto (productoSelect)="productoSelect($event)"></app-compra-producto>
                </div>
            </div> -->

            <!-- Tabla -->
            <div class="row mr-top">
                <div class="col-md-12">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 100px;"></th>
                                <th style="width: 50px;" class="text-center">#</th>
                                <th>Producto</th>
                                <th style="width: 75px;" class="text-center">U/M</th>
                                <th style="width: 100px;" class="text-center">Cantidad</th>
                                <th style="width: 100px;" class="text-center">Costo</th>
                                <th style="width: 100px;" class="text-center">Descuento</th>
                                <th style="width: 100px;" class="text-center">Total</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12" id="detalles" style="min-height: 350px; max-height: 350px; overflow-y: auto;">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <tbody>
                            <tr *ngFor="let de of compra?.detalles; let i = index">
                                <td style="width: 100px;" class="text-center" >
                                    <a *ngIf="!de.id" class="btn btn-danger" (click)="eliminarDetalle(de)"><i class="fa fa-minus"></i>
                                    </a>
                                    <a *ngIf="!de.id" class="btn btn-default" (click)="editarDetalle(mproducto, de)"><i class="fa fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td style="width: 50px;" class="text-center">{{ i + 1 }}</td>
                                <td>{{ de.producto_nombre }}</td>
                                <td style="width: 75px;" class="text-center">{{ de.medida }}</td>
                                <td style="width: 100px;" class="text-center">{{ de.cantidad }}</td>
                                <td style="width: 100px;" class="text-center">{{ de.costo | currency:'USD':symbol:'1.4'}}</td>
                                <td style="width: 100px;" class="text-center">{{ de.descuento | currency:'USD':symbol:'1.2'}}</td>
                                <td style="width: 100px;" class="text-center">{{ de.subtotal | currency:'USD':symbol:'1.2'}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="compra?.detalles?.length > 0" class="table-condenced">
                            <tr>
                                <td colspan="7" class="text-right"> Sub Total: </td>
                                <td class="text-center"> {{ compra.subtotal | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right"> IVA: </td>
                                <td class="text-center"> {{ compra.iva | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right">
                                   <input type="checkbox" (change)="sumTotal()" [(ngModel)]="compra.retencion" name="compra.retencion" *ngIf="!loading && !compra.id">
                                    Ret. IVA (1%):
                                </td>
                                <td class="text-center" width="100">
                                   <input class="form-control text-center" type="number" [(ngModel)]="compra.iva_retenido" name="compra.iva_retenido" *ngIf="!loading && !compra.id">
                                    <span *ngIf="!loading && compra.id">{{ (compra.iva_retenido ) | currency:'USD':symbol:'1.2'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right"> FOVIAL </td>
                                <td class="text-center"> {{ (compra.fovial) | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right"> COTRANS </td>
                                <td class="text-center"> {{ (compra.cotrans) | currency:'USD':symbol:'1.2'}} </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right"> <b>Total:</b> </td>
                                <td class="text-center"><b> {{ compra.total | currency:'USD':symbol:'1.2'}}</b> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <app-compra-producto (productoSelect)="productoSelect($event)"></app-compra-producto>

                    <button (click)="openModal(guardar)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary pull-right tcla-F10" style="margin-left: 15px;">
                        <i class="fa fa-save"></i> 
                        <span *ngIf="!loading"> Guardar <small>(F10)</small></span>
                        <span *ngIf="loading"> Guardando...</span>
                    </button>
                    <button (click)="openModal(facturar)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary pull-right tcla-F9" style="margin-left: 15px;">
                        <i class="fa fa-save"></i> 
                        <span *ngIf="!loading"> Guardar como pendiente <small>(F9)</small></span>
                        <span *ngIf="loading"> Guardando...</span>
                    </button>
                    <!-- <button (click)="openModal(devolucion)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary pull-right tcla-F8">
                        <i class="fa fa-exchange"></i> Devolución  <small>(F8)</small>
                    </button> -->
                </div>
            </div>
        </div>
    </div>

</section>

</div>

<ng-template #facturar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cuenta por pagar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onPosponer()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="fecha_pago">Fecha de Pago:</label><br>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha_pago" name="fecha_pago" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo">Tipo:</label>
                <select class="form-control" [(ngModel)]="compra.tipo" name="tipo">
                    <option value="Interna">Interna</option>
                    <option value="Importacion">Importacion</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading || !compra.fecha_pago || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar como pendiente</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #guardar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Guardar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onGuardar()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo">Tipo:</label>
                <select class="form-control" [(ngModel)]="compra.tipo" name="tipo">
                    <option value="Interna">Interna</option>
                    <option value="Importacion">Importacion</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia" focus="true">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #devolucion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Devolución</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo">Tipo:</label>
                <select class="form-control" [(ngModel)]="compra.tipo" name="tipo">
                    <option value="Interna">Interna</option>
                    <option value="Importacion">Importacion</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia" focus="true">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mproducto>
  <div class="modal-header text-center">
    <h3 class="modal-title">{{ detalle.producto_nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="producto" autocomplete="off" (ngSubmit)="guardarDetalle()">
        <div class="form-group col-sm-3">
            <label for="cantidad">Cantidad:</label>
            <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalleModificado.cantidad" (change)="calcular()">
        </div>
        <div class="form-group col-sm-3">
            <label for="costo">Costo:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.costo" name="costo" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="descuento">Descuento:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.descuento" name="descuento" placeholder="%" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="iva">IVA:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.iva" name="iva">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="subtotal">Sub Total</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.subtotal" name="subtotal" (change)="calcularCosto()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="total">Total</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.total" name="total" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="precio">Precio:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.precio" name="precio">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="precio_nuevo">Nuevo Precio:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.precio_nuevo" name="precio_nuevo">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="tipo">Tipo:</label>
            <select class="form-control" [(ngModel)]="detalleModificado.tipo" name="tipo" (change)="calcular()">
                <option value="Exenta">Exenta</option>
                <option value="Gravada">Gravada</option>
                <option value="No Sujeta">No Sujeta</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-12 mr-top">
                <button type="submit" [disabled]="!detalleModificado.cantidad || !detalleModificado.costo" class="btn btn-primary pull-right"> Guardar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>