<div class="container">

<section class="content-header">
    <h1> Combo <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/combos']">Combos</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-12">

            <form autocomplete="off">
                <div class="box box-primary">
                    
                    <div class="row box-body">
                        <div class="form-group col-sm-6">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="combo.nombre" name="combo.nombre" placeholder="Nombre del combo" focus="true">
                        </div>
                        <div class="col-sm-3">
                            <label for="precio_promo">Inicia:</label>
                            <input type='text' placeholder="Inicia" id='datetimepicker1' class="form-control" name="combo.inicio" #dateP1 [(ngModel)]="combo.inicio" (blur)="combo.inicio = dateP1.value"/>
                        </div>
                        <div class="col-sm-3">
                            <label for="precio_promo">Termina:</label>
                            <input type='text' placeholder="Finaliza" id='datetimepicker2' class="form-control" name="combo.fin" #dateP2 [(ngModel)]="combo.fin" (blur)="combo.fin = dateP2.value"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 min-heigth">
                            <table class="table table-hover" *ngIf="combo.id">
                                <thead>

                                    <tr>
                                        <th colspan="7" class="text-center"><h4>Detalles</h4></th>
                                    </tr>
                                    <tr>
                                        <th width="300">Producto</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Costo</th>
                                        <th class="text-center">Precio</th>
                                        <th class="text-center" width="50">Total</th>
                                        <th width="150" class="text-center"><i class="fa fa-cog"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" class="text-center" *ngIf="detalles?.length < 1 && !loading">
                                            <span class="label label-info">Agregue productos</span>
                                        </td>
                                        <td colspan="8" class="text-center" *ngIf="loading">
                                            <span class="label label-info">Cargando...</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let detalle of detalles">
                                        <td>{{ detalle.producto }}</td>
                                        <td class="text-center">
                                            {{ detalle.cantidad }}
                                        </td>
                                        <td class="text-center">
                                            {{ detalle.costo  | currency:'USD':'symbol':'1.2' }}
                                        </td>
                                        <td class="text-center">
                                            {{ detalle.precio | currency:'USD':'symbol':'1.2'  }}
                                        </td>
                                        <td class="text-center">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                                        <td class="text-center">
                                            <a (click)="deleteDetalle(detalle)" class="btn btn-sm btn-danger" tooltip="Eliminar"><i class="fa fa-minus"></i></a>
                                            <a (click)="editDetalle(medit, detalle)" class="btn btn-sm btn-default" tooltip="Editar"><i class="fa fa-pencil-alt"></i></a>
                                            <a (click)="openModalO(mopciones, detalle)" class="btn btn-sm btn-default" tooltip="Opciones"><i class="fa fa-list-alt"></i></a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center"><b>Totales</b></td>
                                        <td class="text-center"><b>{{ detalles | sum:'cantidad' }}</b></td>
                                        <td class="text-center"><b>{{ combo.costo | currency:'USD':'symbol':'1.2' }}</b></td>
                                        <td class="text-center"><b>{{ detalles | sum:'precio' | currency:'USD':'symbol':'1.2' }}</b></td>
                                        <td class="text-center"><b>{{combo.precio | currency:'USD':'symbol':'1.2' }}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <app-venta-producto *ngIf="combo.id" (productoSelect)="productoSelect($event)"></app-venta-producto>
                        <button type="submit"  (click)="onSubmit()" [disabled]="loading" class="tcla-F9 btn btn-primary pull-right">
                            <span *ngIf="!loading">Guardar (F9)</span>
                            <span *ngIf="loading">Guardando...</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</div>

<ng-template #mopciones>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Opciones</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row min-heigth">
        <form autocomplete="off">
            <div class="col-md-12">
                <input type="text" name="search" class="form-control" placeholder="Buscar y agregar" [(ngModel)]="producto.nombre" focus="true" (keyup)="searchProducto()">
            </div>
            
            <div class="col-md-12 mr-top" style="max-height: 250px; overflow-y: auto;">
                <a *ngIf="productos?.total < 1 && loading" href="javascript:void(0);" class="list-group-item text-center">
                  <span class="label label-info">Cargando...</span>
                </a>
                <ul class="list-group" *ngIf="productos?.total > 0">
                  <a href="javascript:void(0);" (click)="agregarOpcion(producto)" class="list-group-item" *ngFor=" let producto of productos.data">
                    <span class="badge">{{producto.categoria}}</span>
                    <b>{{producto.nombre}}</b> 
                  </a>
                </ul>
            </div>
        </form>

        <div class="col-md-12">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr *ngFor="let opcion of opciones">
                        <td>{{ opcion.producto }}</td>
                        <td class="text-center">
                            <a (click)="deleteOpcion(opcion)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr *ngIf="opciones.length == 0">
                        <td class="text-center"><span class="text-muted">No hay opciones agregadas</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #medit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ detalle.producto }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form id="form" autocomplete="off" (ngSubmit)="updateDetalle()">
            <div class="col-md-12" *ngIf="detalle.id">
                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" class="form-control" placeholder="Cantidad" [(ngModel)]="detalle.cantidad" focus="true">
            </div>
            <div class="col-md-12">
                <label for="costo">Costo:</label>
                <input type="number" name="costo" class="form-control" placeholder="Costo" [(ngModel)]="detalle.costo">
            </div>
            <div class="col-md-12">
                <label for="precio">Precio:</label>
                <input type="number" name="precio" class="form-control" placeholder="Precio" [(ngModel)]="detalle.precio">
            </div>
            <div class="col-md-12 mr-top">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
            
        </form>
    </div>
  </div>
</ng-template>