<div class="container">

<section class="content-header">
    <h1> Proveedores <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Proveedores</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div" *ngIf="filtrado && proveedores?.total">
                        <span class="label label-default"> Registros: {{ proveedores?.total}}</span>
                        <span class="label label-default"> Total: {{ proveedores?.data | sum:'pago_pendiente' | currency:'USD':'true':'1.2' }}</span>
                    </div>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && proveedores?.total" [nombre]="'Proveedores'"></app-descargar-excel>
                                <button routerLink="/proveedor/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th class="hidden-xs">Registro</th>
                                <th class="text-center">P. Pendiente</th>
                                <th class="text-center">Compras</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="proveedores?.total < 1 && !loading">
                                    <span class="label label-info">No tiene proveedores registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let proveedor of proveedores?.data">
                                
                                <td class="text-center">{{proveedor.id}}</td>
                                <td><a routerLink="/proveedor/{{ proveedor.id }}">{{proveedor.nombre | truncate:30 }}</a></td>
                                <td class="hidden-xs">{{proveedor.registro}}</td>
                                <td class="text-center">
                                    <span [ngClass]="{'text-warning' : proveedor?.pago_pendiente > 0}">
                                        {{ proveedor.pago_pendiente | currency:'USD':'symbol':'1.2' }}
                                    </span>
                                </td>
                                <td class="text-center">{{proveedor.num_compras}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/proveedor/{{ proveedor.id }}" tooltip="Editar">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="apiService.auth_user().tipo == 'Administrador' && !proveedor.num_compras" class="btn btn-default" (click)="delete(proveedor.id)" tooltip="Eliminar">
                                        <i class="fa fa-trash"></i></a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="proveedores?.last_page > 1">
                        <app-pagination [items]="proveedores" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="sin">Sin pagos pendiente</option>
                    <option value="con">Con pagos pendientes</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>