<div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li class="active">
            <a href="#cajas" data-toggle="tab">Venta 
                <span class="badge">{{datos?.cajas | sum:'ventas_suma' | currency:'USD':'symbol':'1.2' }}</span>
            </a>
        </li>
        <li class="pull-left header"><i class="fa fa-inbox"></i> Cajas</li>
    </ul>
    <div class="tab-content no-padding">
        <div class="tab-pane active" id="cajas">
            <div class="box-body table-responsive no-padding min-heigth">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center hidden-xs">Estado</th>
                            <th class="text-center hidden-xs">N° Ventas</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="datos?.cajas?.length < 1">
                                <span class="label label-info">No tiene cajas pendientes</span>
                            </td>
                        </tr>

                        <tr class="animated fadeIn" *ngFor=" let caja of datos?.cajas">
                            
                            <td>{{caja.tipo }} - {{caja.nombre }} </td>
                            <td class="text-center hidden-xs"><span class="label" [ngClass]="{'label-success' : caja?.estado == 'Abierta', 'label-danger' : caja?.estado == 'Cerrada', 'label-default' : caja?.estado == 'Sin Cortes'}">{{ caja.estado }}</span></td>
                            <td class="text-center hidden-xs">{{caja.ventas_cantidad}}</td>
                            <td class="text-center">{{caja.ventas_suma | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default" routerLink="/control/caja/{{caja.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>  
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>