  <div class="nav-tabs-custom">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-right">
      <li><a href="#cobros" data-toggle="tab">Por Cobrar <span class="badge">{{datos?.cobros?.length}}</span></a></li>
      <li class="active"><a href="#pagos" data-toggle="tab">Por Pagar <span class="badge">{{datos?.pagos?.length}}</span></a></li>
      <li class="pull-left header"><i class="fa fa-clock"></i> Pendientes</li>
    </ul>
    <div class="tab-content no-padding">
      <!-- Morris - Sales -->
      <div class="tab-pane" id="cobros">
          <div class="box-body table-responsive no-padding min-heigth">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Cliente</th>
                          <th class="hidden-xs">Fecha</th>
                          <th class="text-center">Total</th>
                          <th class="text-center"><i class="fa fa-cog"></i></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td colspan="8" class="text-center" *ngIf="datos?.cobros?.length < 1">
                              <span class="label label-info">No tiene cobros pendientes</span>
                          </td>
                      </tr>

                      <tr class="animated fadeIn" *ngFor=" let cobro of datos?.cobros">
                          
                          <td>{{cobro.cliente_nombre | truncate:30}}</td>
                          <td class="hidden-xs">{{cobro.created_at | date:'dd/MM/yyyy' }}</td>
                          <td class="text-center">{{cobro.total | currency:'USD':'symbol':'1.2'}}</td>
                          <td class="text-center">
                              <div class="btn-group" role="group">
                                  <a class="btn btn-default" routerLink="/venta/{{cobro.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                  </a>
                              </div>  
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="tab-pane active" id="pagos">
          <div class="box-body table-responsive no-padding min-heigth">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Proveedor</th>
                          <th class="hidden-xs">Fecha de pago</th>
                          <th class="text-center">Total</th>
                          <th class="text-center"><i class="fa fa-cog"></i></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td colspan="8" class="text-center" *ngIf="datos?.pagos?.length < 1">
                              <span class="label label-info">No tiene pagos pendientes</span>
                          </td>
                      </tr>

                      <tr class="animated fadeIn" *ngFor=" let pago of datos?.pagos">
                          
                          <td>{{pago.proveedor | truncate:20}}</td>
                          <td class="hidden-xs">{{pago.fecha_pago | date:'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{pago.total | currency:'USD':'symbol':'1.2'}}</td>
                          <td class="text-center">
                              <div class="btn-group" role="group">
                                  <a class="btn btn-default" routerLink="/compra/{{pago.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                  </a>
                              </div>  
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>