<div class="container">

<section class="content-header">
    <h1> Anticipo <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/anticipos">Anticipos</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        
        <form name="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="box box-primary">
                
                <div class="box-body">
                    <div class="form-group col-sm-12">
                        <label for="cliente">Cliente:</label>
                        <form autocomplete="off" class="buscador">
                            <input type="text" name="cliente.nombre" class="form-control" placeholder="Nombre o número" [(ngModel)]="cliente.nombre" focus="true" (keyup)="searchCliente()">
                            <ul class="list-group info">
                              <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                              <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && clientes?.data?.length == 0"> Ningun registro encontrado </a>
                            </ul>
                            <ul class="list-group opciones" *ngIf="clientes?.total > 0">
                              <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(cliente)" *ngFor=" let cliente of clientes?.data">
                                {{cliente.nombre}} - <small><b>NCR:</b> {{cliente.registro}}</small>
                              </a>
                            </ul>
                        </form>
                    </div>
                   
                    <div class="form-group col-sm-12">
                        <label for="total">Anticipo:</label>
                        <input type="number" class="form-control" [(ngModel)]="anticipo.total" name="total" placeholder="$ 0.00">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="referencia">Referencia:</label>
                        <input type="text" class="form-control" [(ngModel)]="anticipo.referencia" name="referencia" placeholder="Referencia">
                    </div>

                </div>

                <div class="box-footer">
                    <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                    <button type="submit" [disabled]="loading || !anticipo.total || !anticipo.cliente_id" class="btn btn-primary pull-right">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

</div>