<div class="form-group col-sm-12">
    <label for="cantidad">* Nombre:</label>
    <form autocomplete="off" class="buscador">
        <input id="cliente" type="text" name="cliente.nombre" class="form-control" placeholder="Nombre" [(ngModel)]="cliente.nombre" focus="true" id="example">
        <ul class="list-group info">
          <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
          <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && clientes?.data?.length == 0"> Ningun registro encontrado </a>
        </ul>
        <ul class="list-group opciones" *ngIf="clientes?.total > 0">
          <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(cliente)" *ngFor=" let cliente of clientes?.data">
            {{cliente.nombre}} - <small>{{cliente.registro}}</small>
          </a>
        </ul>
    </form>
</div>