<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Traslado <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/traslados">Traslados</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
        
            <div class="box box-primary">
                
                <div class="box-body">
                    <div class="form-group col-sm-3">
                        <label for="fecha">Fecha:</label>
                        <input type="date" class="form-control" [(ngModel)]="traslado.fecha" name="fecha">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="traslado.origen_id">Origen:</label>
                        <select class="form-control" (change)="setOrigen($event.target.value)" [(ngModel)]="traslado.origen_id" name="traslado.origen_id">
                            <option value="1">Bodega</option>
                            <option value="2">Sala de Venta</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="traslado.destino_id">Destino:</label>
                        <select class="form-control" (change)="setDestino($event.target.value)" [(ngModel)]="traslado.destino_id" name="traslado.destino_id">
                            <option value="1">Bodega</option>
                            <option value="2">Sala de Venta</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="nota">Nota:</label>
                        <input type="text" class="form-control" [(ngModel)]="traslado.nota" name="nota" placeholder="Nota" required focus="true">
                    </div>
                    
                    <!-- Tabla -->
                    <div class="row mr-top">
                        <div class="col-md-12 min-heigth">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th class="text-center">Medida</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center" *ngIf="traslado.estado == 'En Proceso'"><i class="fa fa-cog"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let de of traslado?.detalles">
                                        <td>{{ de.producto_nombre }}</td>
                                        <td>{{ de.categoria }}</td>
                                        <td class="text-center">{{ de.medida }}</td>
                                        <td class="text-center">{{ de.cantidad }}</td>
                                        <td style="width: 100px;" class="text-center" *ngIf="traslado.estado == 'En Proceso'">
                                            <a class="btn btn-danger" (click)="eliminarDetalle(de)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a class="btn btn-default" (click)="openModalDetalle(mdetalle, de)"><i class="fa fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    <button *ngIf="traslado.estado == 'En Proceso'" (click)="openModal(inventario)" class="btn btn-danger tcla-F4" tooltip="Buscar y agregar productos">
                        <i class="glyphicon glyphicon-list-alt"></i> Producto <small>(F4)</small>
                    </button>
                    <button *ngIf="traslado.estado == 'En Proceso'" (click)="openModalStock(stock)" class="btn btn-success tcla-F6" tooltip="Agregar todos los productos e igualar el stock ideal">
                        <i class="glyphicon glyphicon-list-alt"></i> Generear <small>(F6)</small>
                    </button>
                    <a *ngIf="traslado.id" class="btn btn-default pull-right tcla-F12" href="{{ apiService.baseUrl + '/api/reporte/traslado/' + traslado.id + '?token=' + apiService.auth_token() }}" target="_blank" tooltip="Imprimir">
                        Imprimir (F12)
                    </a>
                    <button *ngIf="traslado.estado == 'En Proceso' && this.apiService.auth_user().tipo == 'Administrador'" (click)="onAprobar()" [disabled]="loading || traslado?.detalles?.length < 1" class="btn btn-default pull-right tcla-F10">
                        <span *ngIf="!loading">Autorizar <small>(F10)</small></span>
                        <span *ngIf="loading">Aplicando...</span>
                    </button>
                    <button *ngIf="traslado.estado == 'En Proceso'" (click)="onGenerar()" [disabled]="loading || traslado?.detalles?.length < 1" class="btn btn-primary pull-right tcla-F9">
                        <span *ngIf="!loading">Guardar <small>(F9)</small></span>
                        <span *ngIf="loading">Generando...</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

</div>

<ng-template #mdetalle>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" autocomplete="off" (ngSubmit)="editDetalle()">
        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" [(ngModel)]="detalle.cantidad" name="cantidad" focus="true">
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="!detalle.cantidad" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" class="buscador" autocomplete="off" (ngSubmit)="agregarDetalle()">
        
        <app-buscador-productos (setProducto)="setProducto($event)"></app-buscador-productos>

        <div class="div" *ngIf="producto.id && detalle.cantidad">
            <div class="form-group col-xs-4 text-center">
                <label for="precio">{{ traslado.origen_id == 1 ? 'Bodega:' : 'Venta:' }}</label><br>
                <p>{{ traslado.origen_id == 1 ? producto.stock_bodega - detalle.cantidad : producto.stock_venta - detalle.cantidad }}</p>
            </div>
            <div class="form-group col-xs-4 text-center text-muted">
                <i class="fa fa-random fa-2x"></i>
            </div>
            <div class="form-group col-xs-4 text-center">
                <label for="medida">{{ traslado.origen_id == 1 ? 'Venta:' : 'Bodega:' }}</label><br>
                <p>{{ traslado.origen_id == 1 ? producto.stock_venta * 1 + detalle.cantidad : producto.stock_bodega * 1 + detalle.cantidad }}</p>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" [(ngModel)]="detalle.cantidad" name="cantidad">
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="!detalle.cantidad || !producto.id" class="btn btn-primary btn-block"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #stock>
  <div class="modal-header">
    <h2 class="modal-title text-center">Productos con Stock Bajo <span class="badge">{{ productos?.length }}</span></h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" autocomplete="off" (ngSubmit)="agregarProductos()">
        <div class="row col-xs-12" style="max-height: 350px; overflow-y: auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Stock ideal</th>
                    <th class="text-center">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center" *ngIf="productos?.length < 1 && !loading">
                        <span class="label label-info">No tiene productos con stock bajo</span>
                    </td>
                    <td colspan="6" class="text-center" *ngIf="loading">
                        <span class="label label-info">Cargando...</span>
                    </td>
                </tr>
                <tr *ngFor=" let producto of productos" [ngClass]="{ 'bg-danger' : !producto.disponible }">
                    <td class="text-center">
                        <a class="btn btn-danger btn-xs" (click)="eliminarProducto(producto)"><i class="fa fa-minus"></i>
                        </a>
                    </td>
                    <td>{{ producto.producto }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td class="text-center">{{ producto.stock }}</td>
                    <td class="text-center">{{ producto.stock_max }}</td>
                    <td class="text-center">
                        <input type="number" max="{{ producto.existencia }}" class="form-control" name="{{ 'producto[' + producto.producto_id + '].cantidad' }}" [(ngModel)]="producto.cantidad" style="text-align: center;">
                        <span class="text-muted" *ngIf="!producto.disponible">No hay mas existencias</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <br><br>
                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>