<div class="container">

<section class="content-header">
    <h1> Devoluciones a proveedores<small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Devoluciones a proveedores</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="compras?.total">Registros: {{compras?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>

                                <button routerLink="/devolucion/compra/nueva" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-sm hidden-xs">Fecha</th>
                                <th>Proveedor</th>
                                <th class="text-center">Ref</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="compras?.total < 1 && !loading">
                                    <span class="label label-info">No tiene devoluciones registradas</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let compra of compras?.data">
                                
                                <td class="hidden-sm hidden-xs">{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                                <td><a routerLink="/proveedor/{{ compra.proveedor_id }}">{{compra.proveedor | truncate:30 }}</a></td>
                                <td class="text-center">{{compra.referencia}}</td>
                                <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                                    <span class="label label-pop" [ngClass]="{'label-warning' : compra?.estado == 'Pendiente', 'label-info' : compra?.estado == 'Entregado a bodega', 'label-primary' : compra?.estado == 'Entregado a proveedor', 'label-success' : compra?.estado == 'Finalizado'}" [popover]="popTemplate" [outsideClick]="true">
                                        {{compra.estado}}
                                    </span>
                                    <ng-template #popTemplate>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Finalizado')">Finalizado</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pendiente')">Pendiente</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Entregado a bodega')">Entregado a bodega</button>
                                        <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Entregado a proveedor')">Entregado a proveedor</button>
                                    </ng-template>
                                </td>
                                <td class="text-center">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/devolucion/compra/{{ compra.id }}" tooltip="Ver">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="compras?.last_page > 1">
                        <app-pagination [items]="compras" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>