<button (click)="openModal(mrecargas)" class="btn btn-info tcla-F4" tooltip="Recargas">
    <i class="fa fa-cell-phone"></i> Recargas <small>(F4)</small>
</button>

<ng-template #mrecargas>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Recarga</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off">
          <div class="form-group col-sm-3">
            <div class="radio-inline">
              <label> <input type="radio" name="optionsRadios" (click)="buscador = ' Tigo '"> Tigo </label>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <div class="radio-inline">
              <label> <input type="radio" name="optionsRadios" (click)="buscador = ' Movistar '"> Movistar </label>
            </div>
          </div>
            <div class="form-group col-sm-3">
              <div class="radio-inline">
                <label> <input type="radio" name="optionsRadios" (click)="buscador = ' Recarga '"> Recarga </label>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="radio-inline">
                <label> <input type="radio" name="optionsRadios" (click)="buscador = ' Paquete '"> Paquete </label>
              </div>
            </div>
            <div class="col-xs-12 mr-top" style="max-height: 350px; overflow-y: auto;">
                <ul class="list-group">
                  <a href="javascript:void(0);" (click)="agregarDetalle(producto)" class="list-group-item" *ngFor=" let producto of productos.data | filter:'nombre':buscador">
                    <span class="badge">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <b>{{producto.nombre}} </b> 
                  </a>
                </ul>
            </div>
        </form>
    </div>
  </div>
</ng-template>