<div class="container">

<section class="content-header">
    <h1> Clientes <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="div" *ngIf="filtrado && clientes?.total">
                        <span class="label label-default"> Registros: {{ clientes?.total}}</span>
                        <!-- <span class="label label-default"> Pago pendiente: {{ clientes?.data | sum:'pago_pendiente' | currency:'USD':'symbol':'1.2' }}</span> -->
                    </div>
                    <div class="box-tools">
                        <div class="input-group col-sm-6 pull-right">
                        <form name="form" (ngSubmit)="search()" autocomplete="off">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && clientes?.total" [nombre]="'Clientes'"></app-descargar-excel>
                                <button routerLink="/cliente/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th class="hidden-xs">Registro</th>
                                <th class="text-center">P. Anticipado</th>
                                <th class="text-center">P. Pendiente</th>
                                <th class="text-center">Ventas</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="clientes?.total < 1 && !loading">
                                    <span class="label label-info">No tiene clientes registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let cliente of clientes?.data">
                                
                                <td class="text-center">{{ cliente.id }}</td>
                                <td><a routerLink="/cliente/{{cliente.id}}">{{cliente.nombre | truncate:50 }}</a></td>
                                <td class="hidden-xs">{{ cliente.registro }}</td>
                                <td class="text-center">
                                    <span [ngClass]="{'label label-success' : cliente?.pago_anticipado > 0}">
                                        {{ cliente.pago_anticipado | currency:'USD':'symbol':'1.2' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span [ngClass]="{'label label-warning' : cliente?.pago_pendiente > 0}">
                                        {{ cliente.pago_pendiente | currency:'USD':'symbol':'1.2' }}
                                    </span>
                                </td>
                                <td class="text-center">{{ cliente.num_ventas }}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/cliente/{{cliente.id}}" tooltip="Ver">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="apiService.auth_user().tipo == 'Administrador' && !cliente.num_ventas" class="btn btn-danger" (click)="delete(cliente.id)" tooltip="Eliminar">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="clientes?.last_page > 1">
                        <app-pagination [items]="clientes" (setPagination)="setPagination($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.pagos">Pagos:</label>
                <select [(ngModel)]="filtro.pagos" class="form-control" name="filtro.pagos">
                    <option value="">Todos</option>
                    <option value="0">Sin pagos pendiente</option>
                    <option value="1">Con pagos pendientes</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>