<div class="box-body table-responsive no-padding min-heigth">
  <table class="table table-bordered table-hover" (click)="loadAll()">
        <thead>
          <tr>
            <th class="text-center">Hoy</th>
            <th class="text-center">Mes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td class="text-center">
                  <h3 class="no-margin">{{ datos?.galones_dia | number:'1.2' }} <small>Gal</small></h3>
                  <table class="table no-padding no-margin">
                      <thead>
                          <tr>
                              <th>Super</th>
                              <th>Regular</th>
                              <th>Diesel</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>{{ datos?.galones_dia_super | number:'1.2'}}</td>
                              <td>{{ datos?.galones_dia_regular | number:'1.2'}}</td>
                              <td>{{ datos?.galones_dia_diesel | number:'1.2'}}</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td class="text-center">
                  <h3 class="no-margin">{{ datos?.galones_mes | number:'1.2' }} <small>Gal</small></h3>
                  <table class="table no-padding no-margin text-center">
                      <thead>
                          <tr>
                              <th>Super</th>
                              <th>Regular</th>
                              <th>Diesel</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>{{ datos?.galones_mes_super | number:'1.2'}}</td>
                              <td>{{ datos?.galones_mes_regular | number:'1.2'}}</td>
                              <td>{{ datos?.galones_mes_diesel | number:'1.2'}}</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
        </tbody>
  </table>
</div>