<div class="container">

<section class="content-header">
    <h1> Entradas <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Entradas</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="entradas?.total">Registros: {{entradas?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control input-sm pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()" focus="true">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-sm btn-default" tooltip="Buscar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="loadAll()" class="btn btn-sm btn-success tcla-F5" tooltip="Actualizar"><i class="fa fa-refresh"></i></button>

                                <button (click)="openModal(mentradas, {})" class="btn btn-sm btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs text-center">ID</th>
                                <th class="hidden-xs">Fecha</th>
                                <th class="hidden-xs">Hora</th>
                                <th>Descripción</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="entradas?.total < 1 && !loading">
                                    <span class="label label-info">No tiene entradas registradas</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let entrada of entradas?.data">
                                
                                <td class="hidden-xs text-center">{{entrada.id}}</td>
                                <td class="hidden-xs">{{entrada.created_at | date:'dd-MM-yyyy'}}</td>
                                <td class="hidden-xs">{{entrada.created_at | date:'hh:mm:ss'}}</td>
                                <td>{{entrada.descripcion}}</td>
                                <td class="text-center">{{entrada.total | currency:'USD':'true':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" (click)="openModal(mentradas, entrada)" tooltip="Editar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="entradas?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="entradas" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mentradas>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Entrada de dinero</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form-gasolina" autocomplete="off" (ngSubmit)="onSubmit()">
        
        <div class="form-group col-sm-6">
            <label for="total">* Total:</label>
            <input type="text" class="form-control" [(ngModel)]="entrada.total" name="total" placeholder="Total" focus="true">
        </div>
        <div class="form-group col-sm-6">
            <label for="descripcion">* Descripción:</label>
            <input type="text" class="form-control" [(ngModel)]="entrada.descripcion" name="descripcion" placeholder="Descripción">
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!entrada.total || !entrada.descripcion">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>