/* You can add global styles to this file, and also import other style files */

footer{
    position: fixed;
    bottom: 0px;
}

a{
    cursor: pointer;
}
@media print {
    .no-print{
        display: none !important;
    }
    .print{
        display: block !important;
    }
}

body{
    background-color: #ecf0f5;
}

button.close.pull-right {
    position: absolute;
    right: 15px;
    top: 15px;
}

span.label.label-success.msj {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 8px;
}

@media (min-width: 768px){
    .modal-sm {
        width: 400px !important;
    }
    .modal-xs {
        width: 270px !important;
    }
}

.well {
    padding: 5px !important;
}

.btn{
    border-radius: 0px !important;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
    background-color: #ccc !important;
}

tr.bg-warning {
    background-color: #fbeb99 !important;
}

tr.bg-danger {
    background-color: #fab9b9 !important;
}

button.navbar-brand
{
    border: none !important;
    background: none !important;
}
button.navbar-brand:focus
{
    outline: none !important;
}
caption{
    font-size: 1.2em;
}

.form-check{
    display: block;
    width: 34px;
    height: 34px;
    margin: 0px !important;
    cursor: pointer;
}

.min-heigth{
    min-height: 180px;
}

.min-heigth-m{
    min-height: 250px;
}

.label-pop{
    cursor: pointer;
}
.pagination {
    margin: 15px 0px 10px 0px;
}


.mr{
    margin-left: 20px;
}

.mr-top{
    margin-top: 15px !important;
}

.box-header .box-title {
    font-size: 21px;
    font-weight: bold;
}
.box{
    margin-bottom: 0px;
}
.box-header {
    min-height: 45px;
}

.loading {
    position: absolute;
    right: 50%;
    left: 47%;
    top: 30%;
}

.thumbler{
    min-height: 180px;
    padding: 50px;
}

.progress{
    margin-bottom: 5px;
}

.progress-bar{
    min-width: 20% !important;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #eed64e;
    }
    .dropdown-menu .divider {
        display: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .messages-menu, .user-menu{
        display: none;
    }
}


typeahead-container.dropdown.open, typeahead-container.dropdown.open>.dropdown-menu {
    width: 97%;
    border-radius: 0px;
}

.notifier__container ul{
    margin: 0px;
}
notifier-notification.notifier__notification.notifier__notification--success.notifier__notification--material{
    width: fit-content !important;
}


/*Scrool Chrome*/

/* width */
::-webkit-scrollbar {width: 5px; }
/* Track */
::-webkit-scrollbar-track {background: #f1f1f1; }

/* Handle */ ::-webkit-scrollbar-thumb {background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555; }

.datepicker {
    z-index: 1600 !important; /* has to be larger than 1050 */
}

.bootstrap-datetimepicker {
    z-index: 1600 !important;
}

/*Buscador*/
    .buscador>ul.list-group.info{
        width: 100%;
        padding-right: 30px;
        position: absolute;
        z-index: 2000;
        top: 58px;
    }
    .buscador>ul.list-group.info > a{
        border-radius: 0px !important;
    }

    .buscador>ul.list-group.opciones{
        width: 92%;
        /*padding-right: 30px;*/
        position: absolute;
        z-index: 1000;
        height: 300px;
        top: 58px;
        overflow-y: auto;
    }

    .buscador>ul.list-group.opciones > a:first-child{
        border-radius: 0px !important;
    }