<div class="container">

<section class="content-header">
    <h1> Combos <small>Ventas</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/ventas"><i class="fa fa-dashboard"></i> Combos</a></li>
        <li class="active">Ventas</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header text-center">
                    <form name="form" class="form-inline" (ngSubmit)="loadAll()" autocomplete="off">
                        <div class="form-group">
                            <label for="">Nombre: </label>
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="filtro.nombre" focus="true">
                        </div>
                        <div class="form-group">
                            <label for="filtro.categoria_id" style="margin-left: 15px;">Categoria:</label>
                            <select [(ngModel)]="filtro.categoria_id" class="form-control" name="filtro.categoria_id">
                                <option value="">Todos</option>
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                                    {{ categoria.nombre }}
                                </option>
                            </select>
                        </div>
                        <br> <br>
                        <div class="form-group" style="margin-left: 15px;">
                            <label for="">Del: </label>
                            <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        </div>
                        <div class="form-group">
                            <input type='time' class="form-control" name="filtro.inicio_hora" [(ngModel)]="filtro.inicio_hora"/>
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <label for="">Al: </label>
                            <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        </div>
                        <div class="form-group">
                            <input type='time' class="form-control" name="filtro.fin_hora" [(ngModel)]="filtro.fin_hora"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" tooltip="Filtrar"><i class="fa fa-filter"></i></button>
                            <app-descargar-excel *ngIf="ventas?.length > 0" [nombre]="'Ventas Historial'"></app-descargar-excel>
                        </div>
                    </form>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center">N°</th>
                                <th class="text-center">Fecha</th>
                                <th>Producto</th>
                                <th>Medida</th>
                                <th class="text-center">Unidades</th>
                                <th class="text-center">Venta Neta</th>
                                <th class="text-center">Costo de Venta</th>
                                <th class="text-center">Utilidad</th>
                                <th class="text-center">Margen</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td colspan="8" class="text-center" *ngIf="ventas?.length < 1 && !loading">
                            <span class="label label-info">No tiene ventas registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="label label-info">Cargando...</span>
                        </td>
                        </tr>

                        <tr class="animated fadeIn" *ngFor=" let venta of ventas; let i=index"> 
                            <td>{{i + 1}}</td>
                            <td class="text-center">
                                <span *ngIf="filtro.inicio == filtro.fin">
                                    {{venta.fecha | date:'dd-MM-yyyy'}}
                                </span>
                                <span *ngIf="filtro.inicio != filtro.fin">
                                    {{filtro.inicio | date:'dd-MM-yyyy'}} - 
                                    {{filtro.fin | date:'dd-MM-yyyy'}}
                                </span>
                            </td>
                            <td>{{venta.producto}}</td>
                            <td>{{venta.medida}}</td>
                            <td class="text-center">{{venta.cantidad | number:'1.0'}}</td>
                            <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{venta.costo | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{venta.utilidad | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{venta.margen | number:'1.2'}} %</td>
                        </tr>

                        <tr *ngIf="ventas?.length > 0 && !loading">
                            <td colspan="3" class="text-center"><b>Total</b></td>                                
                            <td class="text-center"><b>{{ ventas | sum:'cantidad' | number:'1.0'}}</b></td>
                            <td class="text-center"><b>{{ ventas | sum:'total' | currency:'USD':'symbol':'1.2' }}</b></td>
                            <td class="text-center"><b>{{ ventas | sum:'costo' | currency:'USD':'symbol':'1.2' }}</b></td>
                            <td class="text-center"><b>{{ ventas | sum:'utilidad' | currency:'USD':'symbol':'1.2' }}</b></td>                                
                            <td class="text-center"><b>{{ ventas | avg:'margen' | number:'1.2'}} %</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_ini" name="fecha_ini">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_ini" name="hora_ini">
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_fin" name="fecha_fin">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_fin" name="hora_fin">
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.forma_de_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.forma_de_pago" class="form-control" name="filtro.forma_de_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Consumo Interno">Consumo Interno</option>
                    <option value="Credito Empleado">Crédito Empleado</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>