<div class="container">

<section class="content-header">
    <h1> Productos <small>Análisis</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/productos']"><i class="fa fa-dashboard"></i> Productos</a></li>
        <li class="active">Análisis</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header text-center">
                    <form name="form" class="form-inline" (ngSubmit)="loadAll()" autocomplete="off">
                        <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="filtro.nombre" focus="true">
                        </div>
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="filtro.categoria_id">Categoria:</label>
                            <select [(ngModel)]="filtro.categoria_id" class="form-control" name="filtro.categoria_id">
                                <option value="">Todos</option>
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                                    {{ categoria.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group input-group-btn">
                            <button type="submit" class="btn btn-default" tooltip="Filtrar"><i class="fa fa-filter"></i></button>
                            <app-descargar-excel *ngIf="productos?.length > 0" [nombre]="'Productos Analisis'"></app-descargar-excel>
                        </div>
                    </form>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Costo</th>
                                <th class="text-center">Costo Anterior</th>
                                <th class="text-center">Utilidad</th>
                                <th class="text-center">Margen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="productos?.length < 1 && !loading">
                                    <span class="label label-info">No tiene productos filtrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let producto of productos">
                                
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.proveedor}}</td>
                                <td class="text-center">{{producto.precio | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">{{producto.costo | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">{{producto.costo_anterior | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">{{producto.utilidad | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">{{producto.margen | number:'1.2'}} %</td>
                            </tr>

                            <tr *ngIf="productos?.length > 0 && !loading">
                                <td class="text-center" colspan="2"><b>Total</b></td>                                
                                <td class="text-center"><b>{{ productos | sum:'precio' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ productos | sum:'costo' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ productos | sum:'costo_anterior' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ productos | sum:'utilidad' | currency:'USD':'symbol':'1.2' }}</b></td>
                                <td class="text-center"><b>{{ productos | avg:'margen' | number:'1.2'}} %</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group" style="margin-left: 15px;">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.forma_de_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.forma_de_pago" class="form-control" name="filtro.forma_de_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Consumo Interno">Consumo Interno</option>
                    <option value="Credito Empleado">Crédito Empleado</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>