<button (click)="setGasolina(gasolinas[0], mgasolina)" class="btn btn-danger tcla-F1" tooltip="Crear">
    <i class="glyphicon glyphicon-tint"></i> Super <small>(F1)</small>
</button>
<button (click)="setGasolina(gasolinas[1], mgasolina)" class="btn btn-warning tcla-F2" tooltip="Crear">
    <i class="glyphicon glyphicon-tint"></i> Regular <small>(F2)</small>
</button>
<button (click)="setGasolina(gasolinas[2], mgasolina)" class="btn btn-success tcla-F3" tooltip="Crear">
    <i class="glyphicon glyphicon-tint"></i> Diesel <small>(F3)</small>
</button>

<ng-template #mgasolina>
  <div class="modal-header">
    <h2 class="modal-title text-center">{{ detalle.producto }} - {{ detalle.precio | currency:'USD':'symbol':'1.4' }}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form-gasolina" autocomplete="off" (ngSubmit)="agregarDetalle()">
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="cantidad">* Cantidad:</label>
                <div class="input-group">
                <span class="input-group-addon">Gal</span>
                <input type="number" min="1" class="form-control" name="cantidad" [(ngModel)]="detalle.cantidad" focus="true" (change)="calcular()">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="costo">Costo:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.costo" name="costo" (change)="calcular()">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="descuento">Descuento:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.descuento" name="descuento" placeholder="%" (change)="calcular()">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="fovial">FOVIAL:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.fovial" name="fovial">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="iva">IVA:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.iva" name="iva">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="cotrans">COTRANS:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.cotrans" name="cotrans">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="subtotal">Sub Total</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.subtotal" name="subtotal" (change)="calcularCosto()">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="total">Total</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.total" name="total" (change)="calcular()">
                </div>
            </div>
            
           <!--  <div class="form-group col-sm-3">
                <label for="otros">Otros:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.otros" name="otros" (change)="calcularImpuestos()">
                </div>
            </div> -->
            <div class="form-group col-sm-6">
                <label for="tanque">* Tanque:</label>
                <select [(ngModel)]="detalle.tanque_id" class="form-control" name="tanque">
                    <option *ngFor="let tanque of detalle.tanques" [ngValue]="tanque.id">
                        {{ tanque.nombre }} - {{ tanque.producto }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="tipo">Tipo:</label>
                <select class="form-control" [(ngModel)]="detalle.tipo" name="tipo" (change)="calcularImpuestos()">
                    <option value="Exenta">Exenta</option>
                    <option value="Gravada">Gravada</option>
                    <option value="No Sujeta">No Sujeta</option>
                </select>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-xs-12 mr-top">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!detalle.producto_id || !detalle.cantidad || !detalle.costo || !detalle.tanque_id"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
