<ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas <i class="caret"></i></a>
        <ul class="dropdown-menu">
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/ventas">Ventas</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/devoluciones/ventas">Devoluciones</a>
            </li>
            <!-- <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/vales">Vales</a>
            </li> -->
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/clientes">Clientes</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/cuentas-cobrar">Cuentas por Cobrar</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/historial/ventas">Historial por Fecha</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/detalle/ventas">Historial por Productos</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/detalle/combos">Historial por Combos</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/categorias/ventas">Historial por Categorias</a>
            </li>
        </ul>
    </li> 
    <li class="dropdown" *ngIf="apiService.auth_user().tipo == 'Administrador'">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compras <i class="caret"></i></a>
        <ul class="dropdown-menu">
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/compras">Compras</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/compra/nueva">Compra</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/devoluciones/compras">Devoluciones</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/requisicion/compras">Requisición</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/proveedores">Proveedores</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/cuentas-pagar">Cuentas por Pagar</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/historial/compras">Historial por Fecha</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/detalle/compras">Historial por Producto</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <a routerLink="/reporte/categorias/compras">Historial por Categorias</a>
            </li>
        </ul>
    </li> 
                   
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventario <i class="caret"></i></a>
      <ul class="dropdown-menu">
        <!-- <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/gasolinas">Gasolinas</a>
        </li> -->
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/productos">Productos</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/materias-primas">Materia Prima</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/telefonia">Telefonía</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/combos">Combos</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/inventario/bodega">Bodega</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/inventario/sala-venta">Sala de Venta</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/traslados">Traslados</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/ajustes">Ajustes</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-item" routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'">
            <a routerLink="/analisis/productos">Análisis de Productos</a>
        </li>
        </ul>
    </li>               
    <li class="dropdown" *ngIf="apiService.auth_user().tipo == 'Administrador'">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contabilidad <i class="caret"></i></a>
      <ul class="dropdown-menu">
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/contabilidad/libro-iva">Libro Iva</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/contabilidad/libro-compras">Libro Compras</a>
        </li>
        <!-- <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/contabilidad/galonaje">Galonaje</a>
        </li> -->
      </ul>
    </li> 
    <li class="dropdown" *ngIf="apiService.auth_user().tipo == 'Administrador'">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control <i class="caret"></i></a>
      <ul class="dropdown-menu">
        <!-- <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/admin/tanques">Tanques</a>
        </li> -->
        <!-- <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/admin/bombas">Bombas</a>
        </li> -->
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/admin/categorias">Categorias</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/admin/bodegas">Bodegas</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active">
            <a routerLink="/admin/cajas">Caja</a>
        </li>
      </ul>
    </li> 
</ul>
