<div class="container">

<section class="content-header">
    <h1> Traslados <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Traslados</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="traslados?.total">Registros: {{traslados?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8" *ngIf="apiService.auth_user().tipo == 'Administrador'"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && traslados?.total" [nombre]="'Productos'"></app-descargar-excel>
                                <button routerLink="/traslado/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Solicita</th>
                                <th>Autoriza</th>
                                <th>Tipo</th>
                                <th class="text-center">Estado</th>
                                <th class="hidden-xs text-center">Productos</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="traslados?.total < 1 && !loading">
                                    <span class="label label-info">No tiene traslados registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let traslado of traslados?.data">
                                
                                <td>{{ traslado.fecha | date:'dd-MM-yyyy' }}</td>
                                <td>{{ traslado.usuario_nombre }}</td>
                                <td>{{ traslado.autoriza_nombre }}</td>
                                <td>{{ traslado?.origen.nombre }} a {{ traslado?.destino.nombre }}</td>
                                <td class="text-center">
                                    <span class="label" [ngClass]="{'label-warning' : traslado?.estado == 'En Proceso', 'label-success' : traslado?.estado == 'Aprobado'}">
                                        {{traslado.estado}}
                                    </span>
                                </td>
                                <td class="text-center">{{ traslado.total }}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/traslado/{{ traslado.id }}" tooltip="Ver">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a class="btn btn-default" href="{{ apiService.baseUrl + '/api/reporte/traslado/' + traslado.id + '?token=' + apiService.auth_token() }}" target="_blank" tooltip="Imprimir">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="traslados?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="traslados" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Aprobado">Aprobado</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="1">Bodega a Sala de venta</option>
                    <option value="2">Sala de venta a Bodega</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>