<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Cajas <small>Lista</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cajas</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">        
        <div class="col-md-6" *ngFor=" let caja of cajas">
                
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center col-md-12">
                        <h3 class="no-margin"> {{ caja.tipo }}: {{ caja.nombre }} </h3>
                        <p><span class="label"  [ngClass]="{'label-danger' : caja.cortes_dia[caja.cortes_dia.length - 1]?.estado == 'Cerrada','label-success' : caja.cortes_dia[caja.cortes_dia.length - 1]?.estado == 'Abierta' }" >{{ caja.cortes_dia[caja.cortes_dia.length - 1]?.estado }}</span></p>
                        <p *ngIf="caja.cortes_dia && caja.cortes_dia[caja.cortes_dia.length - 1]?.estado == 'Abierta'"><b>Usuario activo:</b> <br>{{ caja.cortes_dia[caja.cortes_dia.length - 1]?.usuario }}</p>
                        <p *ngIf="caja.cortes_dia.length < 1">Ningun Corte Hoy</p>
                    </div>
                    <div class="col-md-12" *ngIf="caja.cortes_dia.length > 0">
                        <table class="table table-bordered text-center no-margin">
                            <thead>
                                <tr> <th colspan="4">Cortes del día</th> </tr>
                                <tr> <th>Usuario</th><th>Ventas</th><th>Venta</th><th></th> </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class="text-center" *ngIf="caja.cortes_dia.length < 1">
                                        <span class="label label-info">No tiene cortes registrados</span>
                                    </td>
                                </tr>
                                <tr *ngFor="let corte of caja.cortes_dia"> 
                                    <td>{{ corte.usuario }}</td>
                                    <td>{{ corte.ventas_cantidad }}</td>
                                    <td>{{ corte.ventas_suma  | currency:'USD':'symbol':'2.2'}}</td>
                                    <td>
                                        <a (click)="printX(corte)" tooltip="Ver o imprimir corte X" class="btn btn-default"><span class="fa fa-print"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr> <th>Cortes</th> <th>Ventas</th><th>Venta</th><th></th> </tr>
                                <tr> 
                                    <th>{{ caja?.cortes_dia?.length }}</th>
                                    <th class="text-center">{{ caja.cortes_dia | sum:'ventas_cantidad' }}</th> 
                                    <th class="text-center">{{ caja.cortes_dia | sum:'ventas_suma' | currency:'USD':'symbol':'2.2' }}</th> 
                                    <td>
                                        <a (click)="printZ(caja)" tooltip="Ver o imprimir corte Z" class="btn btn-default"><span class="fa fa-print"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                         <div class="col-xs-12">
                            <a routerLink="/admin/caja/{{ caja.id }}" class="btn btn-default btn-block" tooltip="Ver opciones de caja">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                         </div>
                    </div>
                </div>
            </div>

        </div>    
    </div>
</section>
</div>
