
<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Proveedor <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/proveedores"><i class="fa fa-users"></i> Proveedores</a></li>
        <li class="active">Proveedor</li>
    </ol>
</section>

<section class="content animated fadeIn">

<div class="row">
    
    <div class="col-sm-12">
      <!-- <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">{{ proveedor.nombre }}</h3>
        </div>
      </div> -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li [ngClass]="{ 'active' : filtro.estado == '' }" ><a href="#datos" data-toggle="tab"><i class="fa fa-info-circle"></i> Datos</a></li>
          <li [ngClass]="{ 'active' : filtro.estado == 'Pendiente' }" *ngIf="proveedor.id"><a href="#compras" data-toggle="tab"><i class="fa fa-money"></i> Compras</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" [ngClass]="{ 'in active' : filtro.estado == '' }" id="datos">
              <div class="row">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-sm-6">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.nombre" name="nombre" placeholder="Nombre" focus="true">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="registro">NRC:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.registro" name="registro" placeholder="xxxx-x">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nit">NIT:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxx-xxxxxx-xxx-x">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="nit">DUI:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="giro">Giro:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.giro" name="giro" placeholder="Giro">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="tipo_contribuyente">Tipo de contribuyente:</label>
                        <select class="form-control" [(ngModel)]="proveedor.tipo_contribuyente" name="tipo_contribuyente">
                            <option value="Pequeño">Pequeño</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.telefono" name="telefono" [dropSpecialCharacters]="false" mask='0000-0000'  placeholder="0000-0000">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="municipio">Municipio:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.municipio" name="municipio" placeholder="Municipio">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="departamento">Departamento:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.departamento" name="departamento" placeholder="Departamento">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="direccion">Dirección:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.direccion" name="direccion" placeholder="Dirección">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" [(ngModel)]="proveedor.descripcion" name="descripcion" placeholder="Descripción">
                    </div>
                    
                    <div class="col-xs-12">
                      <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                      <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="!loading">Guardar</span>
                          <span *ngIf="loading">Guardando...</span>
                      </button>
                    </div>
                </form>
              </div>
            </div>

            <div class="tab-pane fade no-padding" [ngClass]="{ 'in active' : filtro.estado == 'Pendiente' }" id="compras">
                <app-proveedor-compras></app-proveedor-compras>
            </div> 

        </div>
      </div>
    </div>

</div>

</section>

</div>  