<div class="container">
    
<section class="content-header">
    <h1> Facturación <small>{{ venta.fecha | date:'dd/MM/yyyy' }}</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/ventas">Ventas</a></li>
        <li class="active">Facturación</li>
    </ol>
</section>

<section class="content" *ngIf="loading">
    <div class="row">
        <div class="text-muted text-center thumbler">
          Cargando...
        </div>
    </div>
</section>

<section class="content animated fadeIn" *ngIf="!loading">

    <div class="panel panel-default">
        <div class="panel-body" style="min-height: 400px;">

            <div class="row mr-top">
                <div class="col-xs-8">
                    <p>
                        <b>Fecha:</b> {{venta.created_at | date:'dd-mm-yyyy hh:mm:ss'}}
                        <b class="mr">Vendedor:</b> {{venta.usuario}}
                        <b class="mr">Cliente:</b> {{venta.cliente_nombre}}
                    </p>
                </div>
                <div class="col-xs-4">
                    <h2 class="text-right no-margin no-padding" style="margin-top: -10px !important;">
                        <span class="label label-primary">Total: {{ venta.total | currency:'USD':'symbol':'1.2'}}</span>
                    </h2>
                </div>
            </div>

            <!-- Tabla -->
            <div class="row mr-top">
                <div class="col-xs-12 min-heigth">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Descuento</th>
                                <th class="text-center">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="venta?.detalles?.length < 1">
                                <td colspan="6" class="text-center">
                                    <br><br>
                                    <i class="glyphicon glyphicon-inbox fa-5x text-muted"></i>
                                    <br><br>
                                </td>
                            </tr>
                            <tr *ngFor=" let de of venta?.detalles">
                                <td>{{ de.producto_nombre }}</td>
                                <td class="text-center">{{ de.cantidad }}</td>
                                <td class="text-center" style="width: 150px;">{{ de.precio | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">{{ de.descuento | currency:'USD':'symbol':'1.2'}} </td>
                                <td class="text-center" style="width: 150px;">
                                    {{ de.total | currency:'USD':'symbol':'1.2'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <a routerLink="/ventas" class="btn btn-default">Regresar</a>
                </div>
            </div>
        </div>
    </div>

</section>

</div>