<div class="container">

<section class="content-header">
    <h1> Anticipos <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Anticipos</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="anticipos?.total">Registros: {{anticipos?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search()">
                            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search()">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search()" class="btn btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <button (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
                                <button (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"> <i class="fa fa-filter"></i> </button>
                                <app-descargar-excel *ngIf="filtrado && anticipos?.total" [nombre]="'Anticipos'"></app-descargar-excel>
                                <button routerLink="/anticipo/nuevo" class="btn btn-primary tcla-F7" tooltip="Crear"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover" id="tablaReporte">
                        <thead>
                            <tr>
                                <th class="text-center hidden-xs">Fecha</th>
                                <th class="text-center hidden-xs">Hora</th>
                                <th>Cliente</th>
                                <th>Referencia</th>
                                <th class="text-center">Abono</th>
                                <th class="text-center">Cargo</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="anticipos?.total < 1 && !loading">
                                    <span class="label label-info">No tiene anticipos anticipados registrados</span>
                                </td>
                                <td colspan="8" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let pago of anticipos?.data">
                                
                                <td class="text-center hidden-xs">{{pago.created_at | date:'dd-MM-yyyy'}}</td>
                                <td class="text-center hidden-xs">{{pago.created_at | date:'hh:mm:ss a'}}</td>
                                <td><a routerLink="/cliente/{{pago.cliente_id}}">{{pago.cliente | truncate:30 }}</a></td>
                                <td>{{pago.referencia}}</td>
                                <td class="text-center">
                                    <span *ngIf="pago.tipo == 'Abono'">{{pago.total | currency:'USD':'symbol':'1.2'}}</span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="pago.tipo == 'Cargo'">{{pago.total | currency:'USD':'symbol':'1.2'}}</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a *ngIf="pago.tipo == 'Abono'" class="btn btn-default" routerLink="/anticipo/{{pago.id}}" tooltip="Editar">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a *ngIf="pago.tipo == 'Cargo'" class="btn btn-default" routerLink="/venta/{{pago.referencia}}" tooltip="Ver">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="anticipos?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <app-pagination [items]="anticipos" (setPagination)="setPagination($event)"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Cargo">Cargo</option>
                    <option value="Abono">Abono</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>