<div class="container">

<section class="content-header">
    <h1> Cardex <small>Entradas y Salidas</small> </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a [routerLink]="['/productos']"><i class="fa fa-list-alt"></i> Productos</a></li>
      <li class="active">Movimientos</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="row mr-top">
                    <div class="col-md-12">
                        <form name="form" (ngSubmit)="loadAll()" style="display: flex;justify-content: center;">
                            <app-buscador-productos [producto]="producto" (selectProducto)="selectProducto($event)"></app-buscador-productos>
                            <div class="form-group" style="margin-left: 15px;">
                                <label for="">Del: </label>
                                <input type='date' class="ml-2 form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                            </div>
                            <div class="form-group" style="margin-left: 15px;">
                                <label for="">Al: </label>
                                <input type='date' class="ml-2 form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                            </div>
                            <div class="form-group" style="margin: 0px 15px;">
                                <label for="">Inventario: </label>
                                <select style="min-width: 150px;" class="ml-2 form-control form-select" [(ngModel)]="filtro.bodega_id" name="bodega_id">
                                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">
                                        {{ bodega.nombre }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-top:25px;">
                                <button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i *ngIf="!loading" class="fa fa-search"></i>
                                    <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive mr-top">
                    <table class="table table-bordered table-hover mr-top" id="tablaReporte">
                        <thead>
                            <tr>
                                <th colspan="4"></th>
                                <th colspan="2" class="text-center">Entradas</th>
                                <th colspan="2" class="text-center">Salidas</th>
                                <th colspan="2" class="text-center">Saldo</th>
                            </tr>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th>Usuario</th>
                                <th>Detalle</th>
                                <th class="text-center">Precio Unitatio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="10" class="text-center" *ngIf="producto?.movimientos?.length < 1 && !loading">
                                    <span class="label label-info">No tiene movimientos registradas</span>
                                </td>
                                <td colspan="10" class="text-center" *ngIf="loading">
                                    <span class="label label-info">Cargando...</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let movimiento of producto?.movimientos">
                                
                                <td class="text-center">{{movimiento.fecha | date:'dd-MM-yyyy'}}</td>
                                <td>{{movimiento.nombre_usuario}}</td>
                                <td>{{movimiento.detalle}}</td>
                                <td class="text-center">{{movimiento.valor_unitario  | currency:'USD':'symbol':'1.2'}}</td>

                                <td class="text-center">{{movimiento.entrada_cantidad }}</td>
                                <td class="text-center">{{movimiento.entrada_valor  | currency:'USD':'symbol':'1.2'}}</td>

                                <td class="text-center">{{movimiento.salida_cantidad }}</td>
                                <td class="text-center">{{movimiento.salida_valor  | currency:'USD':'symbol':'1.2'}}</td>

                                <td class="text-center">{{movimiento.total_cantidad }}</td>
                                <td class="text-center">{{movimiento.total_valor  | currency:'USD':'symbol':'1.2'}}</td>
                            </tr>

                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>