<button (click)="openModal(inventario)" class="btn btn-default tcla-F4" tooltip="Crear">
    <i class="glyphicon glyphicon-list-alt"></i> Producto <small>(F4)</small>
</button>

<ng-template #inventario>
  <div class="modal-header text-center">
    <h3 class="modal-title">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="agregarDetalle()">
        <div class="row">
            <div class="form-group col-sm-12">

                <div class="form-group col-6">
                    <label for="nombre">Producto:</label>
                    <form autocomplete="off" class="buscador">
                    <input id="producto" type="text" name="producto.nombre" class="form-control" placeholder="Buscar por nombre o código" [(ngModel)]="producto.nombre" focus="true" id="example" (blur)="clear()">
                    <ul class="list-group info">
                      <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                      <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && productos?.data?.length == 0"> Ningun registro encontrado </a>
                    </ul>
                    <ul class="list-group opciones" *ngIf="productos?.total > 0">
                      <a href="javascript:void(0);" class="list-group-item" (click)="selectProducto(producto)" *ngFor=" let producto of productos?.data">
                        <span class="badge" style="background-color: #f44336;" *ngIf="producto.promocion">{{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}</span>
                        <span class="badge">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                        <b style="margin-right: 15px;">{{producto.nombre}}</b> 
                        <small class="text-muted">{{producto.categoria}}</small>
                      </a>
                    </ul>
                </form>
                </div>

            </div>
            <div class="form-group col-sm-4 text-center">
                <label for="precio">Precio:</label><br>
                <p>{{ producto.precio | currency:'USD':'symbol':'1.2'}}</p>
            </div>
            <div class="form-group col-sm-4 text-center">
                <label for="medida">Medida:</label><br>
                <p>{{ producto.medida }}</p>
            </div>
            <div class="form-group col-sm-4 text-center">
                <label for="descuento">Descuento:</label><br>
                <input type="number" min="1" max="{{ producto.descuento }}" class="form-control text-center" [(ngModel)]="producto.descuento" name="descuento">     
            </div>
            <div class="form-group col-sm-12">
                <label for="bomba">Cantidad:</label>
                <input id="cantidad" type="number" min="1" max="{{ producto.stock_venta }}" class="form-control text-center" [(ngModel)]="producto.cantidad" name="cantidad">
                <!-- <p class="text-center text-danger" *ngIf="producto.cantidad > producto.stock_venta">Sobrepasa las existenias</p> -->
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo_impuesto">Impuestos:</label>
                <select class="form-control" [(ngModel)]="producto.tipo_impuesto" name="tipo_impuesto">
                    <option value="Exenta">Exenta</option>
                    <option value="Gravada">Gravada</option>
                    <option value="No Sujeta">No Sujeta</option>
                </select>
            </div>
        </div>
        <div class="row text-center">
            <br><br>
            <div class="col-xs-12">
                <button type="submit" [disabled]="!producto.id || !producto.cantidad" class="btn btn-primary btn-block"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>