<div class="container">

<section class="content-header">
    <h1 (click)="loadAll()"> Gasolina <small>Niveles</small> </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Niveles</li>
    </ol>
</section>

<section class="content animated fadeIn">
        <div class="row">
            <div class="col-md-4" *ngFor="let gasolina of gasolinas">
                

                <div class="panel">
                  <!-- Default panel contents -->
                    <div class="panel-heading text-center" [ngClass]="{ 'bg-red' : gasolina.id == 1, 'bg-yellow' : gasolina.id == 2, 'bg-green' : gasolina.id == 3 }">
                        <h3>
                          {{ gasolina.nombre }} <br> <br>
                          <small class="label label-primary">{{ gasolina.precio | currency:'USD':'symbol':'1.2' }}</small>
                        </h3>
                    </div>
                  <div class="panel-body text-center">
                    <div class="btn-group" role="group" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                        <a class="btn btn-default" (click)="openModalGas(mprecio, gasolina)" tooltip="Cambiar precio">
                            <i class="fa fa-dollar-sign"></i>
                        </a>
                        <a class="btn btn-default" routerLink="/producto/{{ gasolina.id }}" tooltip="Editar">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-default" routerLink="/producto/cardex/{{ gasolina.id }}" tooltip="Cardex">
                            <i class="fa fa-list-alt"></i>
                        </a>
                    </div>
                    <div class="btn-group" role="group" *ngIf="apiService.auth_user().tipo == 'Supervisor'">
                        <a class="btn btn-default" (click)="openModalGas(mprecio, gasolina)" tooltip="Cambiar precio">
                            <i class="fa fa-money"></i> Cambiar precio
                        </a>
                    </div>
                  </div>

                  <!-- Table -->
                  <table class="table table-hover table-bordered" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                      <caption class="text-center">Tanques</caption>
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th class="text-center">Stock</th>
                              <th class="text-center">Capacidad</th>
                              <th class="text-center"><i class="fa fa-cog"></i></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor=" let tanque of gasolina?.tanques" [ngClass]="{ 'bg-warning' : tanque.stock <= tanque.stock_min }">
                              <td>{{ tanque.nombre }}</td>
                              <td class="text-center">{{ tanque.stock | number:'1.2-2'}}</td>
                              <td class="text-center">{{ tanque.stock_max }} <small>Gal</small></td>
                              <td class="text-center">
                                  <div class="btn-group" role="group">
                                      <a class="btn btn-default"  (click)="openModal(mtanque, tanque)" tooltip="Editar">
                                      <i class="fa fa-pencil-alt"></i>
                                      </a>
                                  </div>  
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
</section>

</div>


<ng-template #mtanque>
  <div class="modal-header">
    <h2 class="modal-title text-center">Tanque de {{tanque.nombre}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
  
            <div class="form-group col-md-12">
                <label for="stock_min">Stock Minimo:</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="tanque.stock_min" name="stock_min" placeholder="Stock minimo" focus="true">
                    <span class="input-group-addon">Galones</span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="stock_max">Capacidad:</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="tanque.stock_max" name="stock_max" placeholder="Capacidad">
                    <span class="input-group-addon">Galones</span>
                </div>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !tanque.stock_max || !tanque.stock_min">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mprecio>
  <div class="modal-header">
    <h2 class="modal-title text-center">{{ gasolina.nombre}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmitGas()">
        <div class="row text-center">
  
            <div class="form-group col-md-12">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control text-center" [(ngModel)]="gasolina.precio" name="precio" placeholder="Precio" focus="true">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !gasolina.precio">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
